{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOu805FkTduG2Fj5z0x6Gl0iXQrQlOQ0gMf5.C3f5z7A" crossorigin="anonymous">
    <link rel="stylesheet" href="{%  static 'css/base.css'%}">
    <title>CRM Dashboard</title>
</head>
<style>
    /* Additional CSS styles can be added here */
    .hidden {
        display: none;
    }
</style>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 col-12 d-none d-md-block custom-bg-color sidebar">
                <div class="position-sticky pt-3 sticky-side">
                    <!-- User information section -->
                    <div class="user-info-section text-center">
                       <h2>CRM Logo</h2>
                    </div>
                    <div class="container glass-effect ">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'crmApp:dashboard' %}">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_33_624)">
                                            <path
                                                d="M22 8.52V3.98C22 2.57 21.36 2 19.77 2H15.73C14.14 2 13.5 2.57 13.5 3.98V8.51C13.5 9.93 14.14 10.49 15.73 10.49H19.77C21.36 10.5 22 9.93 22 8.52Z"
                                                stroke="#6B7280" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M22 19.77V15.73C22 14.14 21.36 13.5 19.77 13.5H15.73C14.14 13.5 13.5 14.14 13.5 15.73V19.77C13.5 21.36 14.14 22 15.73 22H19.77C21.36 22 22 21.36 22 19.77Z"
                                                stroke="#6B7280" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M10.5 8.52V3.98C10.5 2.57 9.86 2 8.27 2H4.23C2.64 2 2 2.57 2 3.98V8.51C2 9.93 2.64 10.49 4.23 10.49H8.27C9.86 10.5 10.5 9.93 10.5 8.52Z"
                                                stroke="#6B7280" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                            <path
                                                d="M10.5 19.77V15.73C10.5 14.14 9.86 13.5 8.27 13.5H4.23C2.64 13.5 2 14.14 2 15.73V19.77C2 21.36 2.64 22 4.23 22H8.27C9.86 22 10.5 21.36 10.5 19.77Z"
                                                stroke="#6B7280" stroke-width="1.5" stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0_33_624">
                                                <rect width="24" height="24" fill="white" />
                                            </clipPath>
                                        </defs>
                                    </svg> Dashboard
                                </a>
                            </li>
                            {% comment %} <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="{% static 'assets/centers.png' %}" class="" alt="centers">
                                    Centers
                                </a>
                            </li> {% endcomment %}
                            {% if request.user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="centers-link">
                                    <img src="{% static 'assets/centers.png' %}" class="" alt="center">
                                    Centers
                                </a>
                            </li>
                            {% endif %}
                            <li class="nav-item hidden" id="centersList-item">
                                <a class="nav-link" href="{% url 'crmApp:centers_list' %}" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot1.png' %}" class="" alt="center-1"> Centers List
                                    {% comment %} <i class="fas fa-building mr-2"></i>Center 1 {% endcomment %}
                                </a>
                            </li>
                            <li class="nav-item hidden" id="center1-item">
                                <a class="nav-link" href="#" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot1.png' %}" class="" alt="center-1"> Center 1
                                    {% comment %} <i class="fas fa-building mr-2"></i>Center 1 {% endcomment %}
                                </a>
                            </li>
                            {% if request.user.is_superuser or request.user.role == 'manager' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:total_user' %}">
                                    <img src="{% static 'assets/total-users.png' %}" class="" alt="total-users"> Total
                                    Users
                                </a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:total_booking' %}">
                                    <img src="{% static 'assets/total-bookings.png' %}" class="" alt="total-bookings">
                                    Total Bookings
                                </a>

                            </li>
                            <li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:booking' %}">
                                    <img src="{% static 'assets/bookings.png' %}" class="" alt="bookings"> Bookings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="booking-status-link">
                                    <img src="{% static 'assets/booking-status.png' %}" class="" alt="booking-status">
                                    Booking Status
                                </a>
                            </li>
                            <li class="nav-item hidden" id="new-booking-item">
                                <a class="nav-link" href="{% url 'crmApp:new_booking' %}" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot1.png' %}" class="" alt="booking-status">
                                    New booking
                                </a>
                            </li>
                            <li class="nav-item hidden" id="changes-item" style="">
                                <a class="nav-link" href="#" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px;">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="changes">
                                    Changes
                                </a>
                            </li>
                            <li class="nav-item hidden" id="cancellation-item">
                                <a class="nav-link" href="#" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="cancellation">
                                    Cancellation
                                </a>
                            </li>
                            <li class="nav-item hidden" id="rebook-item">
                                <a class="nav-link" href="#" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="rebook">
                                    Rebook
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:refund' %}">
                                    <i class="fas fa-redo-alt mr-2"></i> Refunds
                                </a>
                            </li>         
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:chargeback' %}">
                                    <i class="fas fa-ban mr-2"></i> Chargebacks
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:rejected' %}">
                                    <i class="fas fa-times mr-2"></i> Rejected
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:mco' %}">
                                    <img src="{% static 'assets/MCO.png' %}" class="" alt="MCO"> MCO
                                </a>
                            </li>
                            <!-- New links -->
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:cancellation' %}">
                                    <i class="fas fa-times-circle mr-2"></i> Cancellations
                                </a>
                            </li>
                            {% if request.user.is_superuser or request.user.role == 'manager' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:ecredit' %}">
                                    <img src="{% static 'assets/credit.png' %}" class="" alt="Credit issuance">
                                    Credit issuance
                                </a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:invoice' %}">
                                    <i class="fas fa-file-invoice mr-2"></i> Generate Invoice
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:pending_invoices' %}">
                                    <i class="fas fa-file-invoice mr-2"></i> Pending Invoice
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:generate_invoice' %}">
                                    <img src="{% static 'assets/invoice.png' %}" class="" alt="invoices">
                                    Sent Invoices
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:payment' %}">
                                    <i class="fas fa-money-bill-wave"></i> Payment Record
                                </a>                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:initiatePayment' %}">
                                    <i class="fas fa-credit-card"></i> Initiate Payment
                                </a>                                
                            </li>
                            <form action="{% url 'crmApp:logout' %}" method="post" style="padding-top: 40%;">
                                {% csrf_token %}
                                <li class="nav-item" style=" border: none; cursor: pointer;" onmouseover="this.style.backgroundColor='#3180ff';" onmouseout="this.style.backgroundColor='#ffffff';">
                                    <button class="btn" type="submit" >
                                        <img src="{% static 'assets/logout.png' %}" class="" alt="logout">Log Out
                                    </button>
                                    
                                </li>
                            </form>
                        </ul>
                    </div>
                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-4">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('#booking-status-link').click(function(e){
                e.preventDefault(); // prevent the default action of the link
                $('#new-booking-item, #changes-item, #cancellation-item, #rebook-item').toggleClass('hidden');
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $('#centers-link').click(function(e){
                e.preventDefault(); // prevent the default action of the link
                $('#center1-item, #centersList-item').toggleClass('hidden');
            });
        });
    </script>
  <!-- Bootstrap 5.3.3 JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!-- Popper.js Core 2.9.3 -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntXU" crossorigin="anonymous"></script>
</body>

</html>