{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOu805FkTduG2Fj5z0x6Gl0iXQrQlOQ0gMf5.C3f5z7A" crossorigin="anonymous">
    <link rel="stylesheet" href="{%  static 'css/base.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <title>CRM Dashboard</title>
</head>
<style>
    /* Additional CSS styles can be added here */
    .hidden {
        display: none;
    }
    body{
        font-family: 'Lato', sans-serif;
        font-weight: 400;
    }
</style>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 col-12 d-none d-md-block custom-bg-color sidebar">
                <div class="position-sticky pt-3 sticky-side">
                    <!-- User information section -->
                    <div class="user-info-section text-center">
                       <h2>CRM Logo</h2>
                    </div>
                    <div class="container glass-effect ">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'crmApp:dashboard' %}">
                                    <img src="{% static 'assets/dashboard.png' %}" class="" alt="dashboard">
                                    Dashboard
                                </a>
                            </li>
                            
                            {% comment %} <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <img src="{% static 'assets/centers.png' %}" class="" alt="centers">
                                    Centers
                                </a>
                            </li> {% endcomment %}
                            {% if request.user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="centers-link">
                                    <img src="{% static 'assets/centers.png' %}" class="" alt="center">
                                    Centers <img src="{% static 'assets/down-arrow.png'%}" alt="" style="height: 10%; width: 10%; display:flex; float: inline-end;">
                                </a>
                            </li>
                            {% endif %}
                            <li class="nav-item hidden" id="centersList-item">
                                <a class="nav-link" href="{% url 'crmApp:centers_list' %}" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot1.png' %}" class="" alt="center-1"> Centers List
                                    {% comment %} <i class="fas fa-building mr-2"></i>Center 1 {% endcomment %}
                                </a>
                            </li>
                            <li class="nav-item hidden" id="center1-item">
                                <a class="nav-link" href="#" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot1.png' %}" class="" alt="center-1"> Center 1
                                    {% comment %} <i class="fas fa-building mr-2"></i>Center 1 {% endcomment %}
                                </a>
                            </li>
                            {% if request.user.is_superuser or request.user.role == 'manager' %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:total_user' %}" >
                                    <img src="{% static 'assets/total-users.png' %}" class="" alt="total-users"> Total
                                    Users
                                </a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="users">
                                    <img src="{% static 'assets/total-users.png' %}" class="" alt="users">
                                    Users<img src="{% static 'assets/down-arrow.png'%}" alt="" style="height: 10%; width: 10%; display:flex; float: inline-end;">
                                </a>
                            </li>
                            <li class="nav-item hidden" id="admin">
                                <a class="nav-link" href="" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot1.png' %}" class="" alt="img">
                                    Admin
                                </a>
                            </li>
                            <li class="nav-item hidden" id="manager">
                                <a class="nav-link" href="#" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px;">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="changes">
                                    Manager
                                </a>
                            </li>
                            <li class="nav-item hidden" id="agents">
                                <a class="nav-link" href="#" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="cancellation">
                                   Agents
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:booking' %}">
                                    <img src="{% static 'assets/bookings.png' %}" class="" alt="bookings"> Bookings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="total-bookings">
                                    <img src="{% static 'assets/total-bookings.png' %}" class="" alt="total-bookings">
                                    Total Bookings <img src="{% static 'assets/down-arrow.png'%}" alt="" style="height: 10%; width: 10%; display:flex; float: inline-end;">
                                </a>
                            </li>
                            
                            <li class="nav-item hidden" id="total-pending">
                                <a class="nav-link" href="{% url 'crmApp:total_booking' %}" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot1.png' %}" class="" alt="booking-status">
                                    Pending
                                </a>
                            </li>
                            <li class="nav-item hidden" id="total-inprocess">
                                <a class="nav-link" href="#" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px;">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="changes">
                                    In process
                                </a>
                            </li>
                            <li class="nav-item hidden" id="total-approved">
                                <a class="nav-link" href="#" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="cancellation">
                                  Approved
                                </a>
                            </li>
                            <li class="nav-item hidden" id="total-cancel">
                                <a class="nav-link" href="#" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="rebook">
                                    Cancel
                                </a>
                            </li>
                            <li class="nav-item hidden" id="total-rejected">
                                <a class="nav-link" href="{% url 'crmApp:rejected' %}" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="rebook">
                                    Rejected
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="booking-status-link">
                                    <img src="{% static 'assets/booking-status.png' %}" class="" alt="booking-status">
                                    Booking Status <img src="{% static 'assets/down-arrow.png'%}" alt="" style="height: 10%; width: 10%; display:flex; float: inline-end;">
                                </a>
                            </li>
                            <li class="nav-item hidden" id="new-booking-item">

                                <a class="nav-link" href="{% url 'crmApp:new_booking' %}" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot1.png' %}" class="" alt="booking-status">
                                    New booking
                                </a>
                            </li>
                            <li class="nav-item hidden" id="changes-item">
                                <a class="nav-link" href="#" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px;">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="changes">
                                    Changes
                                </a>
                            </li>
                            <li class="nav-item hidden" id="cancellation-item">
                                <a class="nav-link" href="{% url 'crmApp:cancellation' %}" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="cancellation">
                                    Cancellation
                                </a>
                            </li>
                            <li class="nav-item hidden" id="rebook-item">
                                <a class="nav-link" href="#" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="rebook">
                                    Rebook
                                </a>
                            </li>
                           
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="mco-link">
                                    <img src="{% static 'assets/MCO.png' %}" class="" alt="MCO"> MCO <img src="{% static 'assets/down-arrow.png'%}" alt="" style="height: 10%; width: 10%; display:flex; float: inline-end;">
                                </a>
                            </li>
                            <li class="nav-item hidden" id="full-refund">
                                <a class="nav-link" href="{% url 'crmApp:mco' %}" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot1.png' %}" class="" alt="booking-status">
                                   Full refund
                                </a>
                            </li>
                            <li class="nav-item hidden" id="partial-refund" >
                                <a class="nav-link" href="{% url 'crmApp:refund' %}" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px;">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="changes">
                                    Partial refund
                                </a>
                            </li>
                            <li class="nav-item hidden" id="chargeback">
                                <a class="nav-link" href="{% url 'crmApp:chargeback' %}" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="cancellation">
                                    Chargback
                                </a>
                            </li>
                            <li class="nav-item hidden" id="voided-transaction">
                                <a class="nav-link" href="#" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="rebook">
                                    Voided Transactions
                                </a>
                            </li>
                            <!-- New links -->
                          
                            {% if request.user.is_superuser or request.user.role == 'manager' %}
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="credit-issuance">
                                    <img src="{% static 'assets/credit.png' %}" class="" alt="Credit issuance">
                                    Credit issuance <img src="{% static 'assets/down-arrow.png'%}" alt="" style="height: 10%; width: 10%; display:flex; float: inline-end;">
                                </a>
                            </li>
                            <li class="nav-item hidden" id="e-credit">
                                <a class="nav-link" href="{% url 'crmApp:ecredit' %}" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot1.png' %}" class="" alt="booking-status">
                                    E-credit
                                </a>
                            </li>
                            <li class="nav-item hidden" id="voucher">
                                <a class="nav-link" href="#" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px;">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="changes">
                                    Voucher
                                </a>
                            </li>
                            {% endif %}
                            
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="invoice">
                                    <img src="{% static 'assets/invoice.png' %}" class="" alt="invoices">
                                    Invoice <img src="{% static 'assets/down-arrow.png'%}" alt="" style="height: 10%; width: 10%; display:flex; float: inline-end;">
                                </a>
                            </li>
                            <li class="nav-item hidden" id="generate-invoice">
                                <a class="nav-link" href="{% url 'crmApp:invoice' %}" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot1.png' %}" class="" alt="booking-status">
                                    Generate Invoice
                                </a>
                            </li>
                            <li class="nav-item hidden" id="pending">
                                <a class="nav-link" href="{% url 'crmApp:pending_invoices' %}" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="booking-status">
                                    Pending
                                </a>
                            </li>
                            <li class="nav-item hidden" id="sent">
                                <a class="nav-link" href="{% url 'crmApp:generate_invoice' %}" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px;">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="changes">
                                    Sent
                                </a>
                            </li>
                            <li class="nav-item hidden" id="rejected">
                                <a class="nav-link" href="#" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px;">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="changes">
                                    Rejected
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" id="payment">
                                    <img src="{% static 'assets/credit-card.png' %}" class="" alt="invoices"  style="height: 30%; width: 14%;">
                                    Payment <img src="{% static 'assets/down-arrow.png'%}" alt="" style="height: 10%; width: 10%; display:flex; float: inline-end;">
                                </a>
                            </li>
                            <li class="nav-item hidden" id="payment-record">
                                <a class="nav-link" href="{% url 'crmApp:payment' %}" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot1.png' %}" class="" alt="booking-status">
                                    Payment Record
                                </a>
                            </li>
                            <li class="nav-item hidden" id="initiate-payment">
                                <a class="nav-link" href="{% url 'crmApp:initiatePayment' %}" style="font-size: 0.8rem; border: 1px solid#CCE0FF; border-radius: 10px; ">
                                    <img src="{% static 'assets/blue-dot2.png' %}" class="" alt="booking-status">
                                    Initiate Payment
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:renew_plan' %}">
                                    <i class="fas fa-sync-alt"></i> Renew Plan
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'crmApp:subscription_plans' %}">
                                    <i class="fas fa-clipboard-list"></i> Subscription
                                </a>
                            </li>
                            <form action="{% url 'crmApp:logout' %}" method="post" style="padding-top: 40%;">
                                {% csrf_token %}
                                <li class="nav-item" style=" border: none; cursor: pointer;" onmouseover="this.style.backgroundColor='#3180ff';" onmouseover="this.style.color='#fffff';" onmouseout="this.style.backgroundColor='#ffffff';">
                                    <button class="btn" type="submit" style="color: #67748E;" >
                                        <img src="{% static 'assets/logout.png' %}" class="" alt="logout">Log Out
                                    </button>
                                    
                                </li>
                                <br>
                                
                               
                        
                            </form>
                        </ul>
                    </div>
                </div>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-4">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Function to toggle visibility of elements with smooth transition
            function toggleVisibility(elementId) {
                var element = document.getElementById(elementId);
                element.classList.toggle('hidden');
                // Adding a short delay before toggling the 'hidden' class to allow the transition to take effect
                setTimeout(function() {
                    element.classList.toggle('transitioning');
                    setTimeout(function() {
                        element.classList.toggle('transitioning');
                    }, 500); // Adjust the duration of the transition as needed (here, it's 0.5 seconds)
                }, 10);
            }
    
            // Function to toggle active class
            function toggleActive(elementId) {
                var elements = document.querySelectorAll('.nav-item .nav-link');
                elements.forEach(function(el) {
                    el.classList.remove('active');
                });
                document.getElementById(elementId).classList.add('active');
            }
    
            // Event listeners for toggling visibility and active class
            document.getElementById('users').addEventListener('click', function(e) {
                e.preventDefault();
                toggleVisibility('admin');
                toggleVisibility('manager');
                toggleVisibility('agents');
                toggleActive('users');
            });
    
            document.getElementById('booking-status-link').addEventListener('click', function(e) {
                e.preventDefault();
                toggleVisibility('new-booking-item');
                toggleVisibility('changes-item');
                toggleVisibility('cancellation-item');
                toggleVisibility('rebook-item');
                toggleActive('booking-status-link');
            });
    
            document.getElementById('mco-link').addEventListener('click', function(e) {
                e.preventDefault();
                toggleVisibility('full-refund');
                toggleVisibility('partial-refund');
                toggleVisibility('chargeback');
                toggleVisibility('voided-transaction');
                toggleActive('mco-link');
            });
    
            document.getElementById('centers-link').addEventListener('click', function(e) {
                e.preventDefault();
                toggleVisibility('center1-item');
                toggleVisibility('centersList-item');
                toggleActive('centers-link');
            });
    
            document.getElementById('credit-issuance').addEventListener('click', function(e) {
                e.preventDefault();
                toggleVisibility('e-credit');
                toggleVisibility('voucher');
                toggleActive('credit-issuance');
            });
    
            document.getElementById('invoice').addEventListener('click', function(e) {
                e.preventDefault();
                toggleVisibility('generate-invoice');
                toggleVisibility('pending');
                toggleVisibility('sent');
                toggleVisibility('rejected');
                toggleActive('invoice');
            });
    
            document.getElementById('total-bookings').addEventListener('click', function(e) {
                e.preventDefault();
                toggleVisibility('total-pending');
                toggleVisibility('total-inprocess');
                toggleVisibility('total-approved');
                toggleVisibility('total-rejected');
                toggleActive('total-bookings');
            });
    
            document.getElementById('payment').addEventListener('click', function(e) {
                e.preventDefault();
                toggleVisibility('payment-record');
                toggleVisibility('initiate-payment');
                toggleActive('payment');
            });
        });
    </script>
    
    
  <!-- Bootstrap 5.3.3 JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<!-- Popper.js Core 2.9.3 -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntXU" crossorigin="anonymous"></script>
</body>

</html>
