{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
    .hidden {
        display: none;
    }
    
  #travelers{
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: space-between; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.223);
    width: 20rem;
    /* padding: 5px; */
  }
  
  #adults{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.223);
    width: 33.5%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #ano{
    /* border: 1px solid red; */
    padding: 5%;
  }
  span{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 5%; */
    font-size: 0.7rem;
    font-weight: bold;
  }
  #tType{
    /* border: 1px solid red; */
    padding: 5%;
  }
  #cno{
    padding: 5%;
  }
  #cType{
    padding: 5%;
  }
  #ino{
    padding: 5%;
  }
  #iType{
    padding: 10%;
  }
  .active {
    background-color: blue;
    color: white;
}
  #children{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.223);
    width: 33.5%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #infants{
    display: flex;
    width: 33.5%;
    flex-wrap: wrap;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.223);
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .iconHolder{
    display: flex;
    gap: 3%;
  }
.icon{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
</style>

{% if request.GET.success_message %}
    <div class="alert alert-success text-center" id="successMessage">
        {{ request.GET.success_message }}
    </div>
    <script>
        // Automatically close the success message after 1 second
        setTimeout(function () {
            document.getElementById('successMessage').style.display = 'none';
        }, 3000);
    </script>
{% endif %}
<h1 class="text-center mt-5">CRM <b>Dash</b>board - New Bookings</h1> 
<div class="row justify-content-end">
    <div class="col-md-2 float-right">
        <div class="dropdown">
            <select class="form-select form-select-sm" id="actionDropdown">
                <option value="newBooking" enabled>New Booking</option>
                <option value="changes">Changes</option>
                <option value="eCredit">E-Credit</option>
                {% comment %} <option value="cancellation">Cancellation</option> {% endcomment %}
                <option value="refunds">Refunds</option>
            </select>
        </div>
    </div>
</div>
<div class="hidden bg-danger text-light py-2 px-2 mt-2 mb-2" style="{% if exp.expiry_value == 'expired' %}display: block{% endif %}">You plan has expired. Contact sales team to continue Subscription</div>
<div id="flightBookingForm"  class="container hidden" >
    {% comment %} {{ exp.expiry_value }} {% endcomment %}
    <!-- <h2 class="mb-4">Flight Booking Form</h2> -->
    <!-- Flight booking form content -->
    <div class="mb-3 me-3" style="flex: 1;">
        <label for="tripType" class="form-label"><i class="bi bi-geo-alt"></i> Trip Type</label>
        <select class="form-select" id="tripType" name="tripType">
            <option value="oneWay">One Way</option>
            <option value="roundTrip">Round Trip</option>
            <option value="multi">Multi-City</option>
        </select>
    </div>
    <form id="flightSearchForm" {% if exp.expiry_value == 'expired' %}disabled{% endif %} class="custom-booking"  action="{% url 'crmApp:flight_results' %}" method="GET" >
        <div class="row col-md-5" >
            <div class="mb-3 me-3" style="flex: 1;">
                <label for="flightClass" class="form-label"><i class="bi bi-geo-alt"></i> Flight Class</label>
                <select class="form-select" id="flightClass" name="flightClass" {% if exp.expiry_value == 'expired' %}disabled{% endif %}>
                    <option value="ECONOMY">Economy</option>
                    <option value="PREMIUM_ECONOMY">Premium economy</option>
                    <option value="FIRST">First</option>
                    <option value="BUSINESS">Business</option>
                </select>
            </div>
            <div class="mb-3 me-3" style="flex: 1;">
                <div class="iconHolder">
                    <div id="travelers" name="travelers">
                        <div id="adults" onclick="changeColor(this)">
                            <div id="ano">1</div>
                                <input type = "text" id="adultno" name="adult" value="1" hidden>
                                <span>X</span>
                            <div id="tType">Adults</div>
                        </div>
                        <div id="children"  onclick="changeColor(this)">
                            <div id="cno">0</div>
                                <input type = "text" id="childno" name="child" value="0" hidden>
                                <span>X</span>
                            <div id="cType">Children</div>
                        </div>
                        <div id="infants"  onclick="changeColor(this)">
                            <div id="ino">0</div>
                                <input type = "text" id="infantno" name="infant" value="0" hidden>
                                <span>X</span>
                            <div id="iType">Infants</div>
                        </div>
                    </div>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" id = 'increment'  onclick="incrementValue()" style="cursor:pointer" width="16" height="14" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" id="decrement"  onclick="decrementValue()" style="cursor:pointer" width="16" height="14" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div style="display: flex; flex-wrap: wrap">
            <div class="mb-3 me-3" style="flex: 1;">
                <label for="fromLocation" class="form-label"><i class="bi bi-geo-alt"></i> From</label>
                <input type="text" class="form-control" id="fromLocation" name="fromLocation" {% if exp.expiry_value == 'expired' %}disabled{% endif %}>
                <input type="hidden" class="form-control" id="from" name="from">
                <ul id="fromLocationList" class="location-list"></ul>
            </div>
            <div class="mb-3 me-3" style="flex: 1;">
                <label for="toLocation" class="form-label"><i class="bi bi-geo-alt"></i> To</label>
                <input type="text" class="form-control" id="toLocation" name="toLocation" {% if exp.expiry_value == 'expired' %}disabled{% endif %}>
                <input type="hidden" class="form-control" id="to" name="to">
                <ul id="toLocationList" class="location-list"></ul>
            </div>
            <div class="mb-3 me-3" style="flex: 1;">
                <label for="departureDate" class="form-label"><i class="bi bi-calendar3"></i> Departure Date</label>
                <input type="date" class="form-control" id="departureDate" name="departureDate" {% if exp.expiry_value == 'expired' %}disabled{% endif %}>
            </div>
            <div class="mb-3 me-3" style="flex: 1;" id="returnDateField">
                <label for="returnDate" class="form-label"><i class="bi bi-calendar3"></i> Return Date</label>
                <input type="date" class="form-control" id="returnDate" name="returnDate" {% if exp.expiry_value == 'expired' %}disabled{% endif %}>
            </div>
            <div class="mb-3" style="flex: 1;">
                <button type="submit" class="btn btn-primary" style="margin-top: 32px;" {% if exp.expiry_value == 'expired' %}disabled{% endif %}>Search</button>
            </div>
        </div>
    </form>

    <form id="flightSearchFormMulti" style="display: none;" method="GET" action="{% url 'crmApp:multi_search' %}">
        <!-- Initial set of input fields for first city -->
        <div class="form row city">
            <div class="form-group col-md-4">
                <label for="departureCity1">Departure City:</label>
                <input type="text" class="form-control" name="departureCity[]" required>
            </div>
            <div class="form-group col-md-4">
                <label for="arrivalCity1">Arrival City:</label>
                <input type="text" class="form-control" name="arrivalCity[]" required>
            </div>
            <div class="form-group col-md-3">
                <label for="departureDate1">Departure Date:</label>
                <input type="date" class="form-control" name="departureDate[]" required>
            </div>
            <div class="form-group col-md-1">
                <button type="button" class="btn btn-danger deleteCityBtn">Delete</button>
            </div>
        </div>
        <div id="additionalCities">
            <!-- Additional input fields will be appended here -->
        </div>
        <button type="button" id="addCityBtn" class="btn btn-primary">Add More</button>
        <hr class="my-4">
        <!-- Remaining form fields -->
        <div class="form-group">
            <div class="iconHolder">
                <div id="travelers" name="travelers">
                    <div id="adults" onclick="changeColor(this)">
                        <div id="ano">1</div>
                            <input type="text" id="adultno" name="adult" value="1" hidden>
                            <span>X</span>
                        <div id="tType">Adults</div>
                    </div>
                    <div id="children"  onclick="changeColor(this)">
                        <div id="cno">0</div>
                            <input type="text" id="childno" name="child" value="0" hidden>
                            <span>X</span>
                        <div id="cType">Children</div>
                    </div>
                    <div id="infants"  onclick="changeColor(this)">
                        <div id="ino">0</div>
                            <input type="text" id="infantno" name="infant" value="0" hidden>
                            <span>X</span>
                        <div id="iType">Infants</div>
                    </div>
                </div>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" id = 'increment'  onclick="incrementValue()" style="cursor:pointer" width="16" height="14" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" id="decrement"  onclick="decrementValue()" style="cursor:pointer" width="16" height="14" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="travelClass">Travel Class:</label>
            <select class="form-select" id="flightClass" name="flightClass">
                <option value="ECONOMY">Economy</option>
                <option value="PREMIUM ECONOMY">Business</option>
                <option value="FIRST">First</option>
                <option value="BUSINESS">Business</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

<div id="refundForm" class="container custom-booking hidden">
    <!-- Refund form content -->
    <h2 class="mb-4">Refund Form</h2>
    <!-- In your 'booking' template -->
    {% comment %} {% if request.GET.success_message %}
    <div class="alert alert-success">
        {{ request.GET.success_message }}
    </div>
    {% endif %} {% endcomment %}
    <form id="refundForm" method="post" action="{% url 'crmApp:submit_refund_form' %}">
        {% csrf_token %}
        <div style="display: flex; flex-wrap: wrap;">
            <div class="mb-3 me-3" style="flex: 1;">
                <label for="bookingId" class="form-label"><i class="bi bi-hash"></i> Booking ID</label>
                <input type="text" class="form-control" id="bookingId" name="bookingId" onchange="fetchPassengerData()">
            </div>
            <div class="mb-3 me-3" style="flex: 1;">
                <label for="passengerName" class="form-label"><i class="bi bi-person"></i> Passenger Name</label>
                <input type="text" class="form-control" id="passengerName" name="passengerName">
            </div>
            <div class="mb-3 me-3" style="flex: 1;">
                <label for="phoneNumber" class="form-label"><i class="bi bi-telephone"></i> Phone Number</label>
                <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber">
            </div>
            <div class="mb-3 me-3" style="flex: 1;">
                <label for="email" class="form-label"><i class="bi bi-envelope"></i> Email</label>
                <input type="email" class="form-control" id="email" name="email" >
            </div>
            <div class="mb-3 me-3" style="flex: 1;">
                <label for="refundType" class="form-label"><i class="bi bi-arrow-repeat"></i> Refund Type</label>
                <select class="form-select" id="refundType" name="refundType">
                    <option value="" disabled>Refund type</option>
                    <option value="full">Full Refund</option>
                    <option value="partial">Partial Refund</option>
                </select>
            </div>
            <div class="mb-3 me-3" style="flex: 1;">
                <label for="refundAmount" class="form-label"><i class="bi bi-currency-dollar"></i> Refund Amount</label>
                <input type="text" class="form-control" id="refundAmount" name="refundAmount">
            </div>
            <div class="mb-3 me-3" style="flex: 1;">
                <label for="refundReason" class="form-label"><i class="bi bi-chat-square-dots"></i> Refund Reason</label>
                <textarea class="form-control" id="refundReason" name="refundReason"></textarea>
            </div>
            <div class="mb-3" style="flex: 1;">
                <button type="submit" class="btn btn-primary" style="margin-top: 32px; background-color: blue!important">Submit</button>
            </div>
        </div>
    </form>
</div>


<div id="cancellationForm" class="container custom-booking hidden">
    <!-- Cancellation form content -->
    <h2 class="mb-4">Cancellation Form</h2>
    <div style="display: flex; flex-wrap: wrap;">
        <div class="mb-3 me-3" style="flex: 1;">
            <label for="bookingId" class="form-label"><i class="bi bi-hash"></i> Booking ID</label>
            <input type="text" class="form-control" id="bookingId" name="bookingId">
        </div>
        <div class="mb-3 me-3" style="flex: 1;">
            <label for="passengerName" class="form-label"><i class="bi bi-person"></i> Passenger Name</label>
            <input type="text" class="form-control" id="passengerName" name="passengerName">
        </div>
        <div class="mb-3 me-3" style="flex: 1;">
            <label for="cancellationReason" class="form-label"><i class="bi bi-chat-square-dots"></i> Cancellation Reason</label>
            <textarea class="form-control" id="cancellationReason" name="cancellationReason"></textarea>
        </div>
        <div class="mb-3" style="flex: 1;">
            <button type="submit" class="btn btn-primary" style="margin-top: 32px;">Submit</button>
        </div>
    </div>
</div>
<div id="changesForm" class="container custom-booking hidden">
    <!-- Changes form content -->
    <h2 class="mb-4">Changes Form</h2>
    <div style="display: flex; flex-wrap: wrap">
        <div class="mb-3 me-3" style="flex: 1;">
            <label for="bookingId" class="form-label"><i class="bi bi-hash"></i> Booking ID</label>
            <input type="text" class="form-control" id="bookingId" name="bookingId">
        </div>
        <div class="mb-3 me-3" style="flex: 1;">
            <label for="passengerName" class="form-label"><i class="bi bi-person"></i> Passenger Name</label>
            <input type="text" class="form-control" id="passengerName" name="passengerName">
        </div>
        <div class="mb-3 me-3" style="flex: 1;">
            <label for="newFlightDetails" class="form-label"><i class="bi bi-clipboard-data"></i> New Flight Details</label>
            <input type="text" class="form-control" id="newFlightDetails" name="newFlightDetails">
        </div>
        <div class="mb-3 me-3" style="flex: 1;">
            <label for="newDepartureDate" class="form-label"><i class="bi bi-calendar3"></i> New Departure Date</label>
            <input type="date" class="form-control" id="newDepartureDate" name="newDepartureDate">
        </div>
        <div class="mb-3 me-3" style="flex: 1;">
            <label for="newArrivalDate" class="form-label"><i class="bi bi-calendar3"></i> New Arrival Date</label>
            <input type="date" class="form-control" id="newArrivalDate" name="newArrivalDate">
        </div>
        <div class="mb-3" style="flex: 1;">
            <button type="submit" class="btn btn-primary" style="margin-top: 32px;">Submit</button>
        </div>
    </div>
</div>

<div id="eCreditForm" class="container custom-booking hidden">
    <!-- E-Credit form content -->
    <h2 class="mb-4">E-Credit Form</h2>
    <div style="display: flex; flex-wrap: wrap">
        <div class="mb-3 me-3" style="flex: 1;">
            <label for="creditId" class="form-label"><i class="bi bi-credit-card"></i> Credit ID</label>
            <input type="text" class="form-control" id="creditId" name="creditId">
        </div>
        <div class="mb-3 me-3" style="flex: 1;">
            <label for="amount" class="form-label"><i class="bi bi-currency-dollar"></i> Amount</label>
            <input type="text" class="form-control" id="amount" name="amount">
        </div>
        <div class="mb-3 me-3" style="flex: 1;">
            <label for="expirationDate" class="form-label"><i class="bi bi-calendar3"></i> Expiration Date</label>
            <input type="date" class="form-control" id="expirationDate" name="expirationDate">
        </div>
        <div class="mb-3" style="flex: 1;">
            <button type="submit" class="btn btn-primary" style="margin-top: 32px;">Submit</button>
        </div>
    </div>
</div>
                        
<div class="table-responsive mt-5 border">
    <table class="table table-striped custom-table">
        <thead>
            <tr>
                <th>Booking ID</th>
                <th>Passenger Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Trip Type</th>
                <th>Reference id</th>
                <th>Departure</th>
                <th>Departure Date</th>
                <th>Arrival</th>
                <th>Arrival Date</th>
                <th>No. of Passengers</th>
                <th>Price</th>
                <th>MCO</th>
                <th>Lead Agent</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for ori in original %}
            {% if ori.status != 'inprocess' and ori.status != 'confirmed' and ori.status != 'rejected' and ori.status != 'cancelled'%}
            <tr>
                <td>{{ ori.booking_id }}</td>
                <td>{{ ori.passenger_name }}</td>
                <td>{{ ori.phone_number }}</td>
                <td>{{ ori.email }}</td>
                <td>{{ ori.trip_type }}</td>
                <td>{{ ori.reference_id }}</td>
                <td>{{ ori.departure }}</td>
                <td>{{ ori.departure_date }}</td>
                <td>{{ ori.arrival }}</td>
                <td>{{ ori.arrival_date }}</td>
                <td>{{ ori.num_passengers }}</td>
                <td>{{ ori.price }}</td>
                <td>{{ ori.mco }}</td>
                <td>{{ori.lead_agent}}</td>
                <td>{{ ori.status }}</td>
                <td>
                    <form method="POST" action="{% url 'crmApp:update_booking_status' %}">
                        {% csrf_token %}
                        <input type="hidden" name="booking_id" value="{{ ori.booking_id }}">
                        <select name="status" onchange="this.form.submit()">
                            <option value="pending" {% if ori.status == 'pending' %} selected {% endif %}>Pending</option>
                            <option value="inprocess" {% if ori.status == 'inprocess' %} selected {% endif %}>In Process</option>
                        </select>
                    </form>
                    <button class="btn btn-primary btn-sm">View</button>
                    <button class="btn btn-info btn-sm">Edit</button>
                    <button class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    window.addEventListener('DOMContentLoaded', function() {
        var selectElement = document.getElementById('actionDropdown');
        selectElement.value = 'newBooking';
        var event = new Event('change');
        selectElement.dispatchEvent(event);
    });

    document.getElementById('actionDropdown').addEventListener('change', function() {
        var selectedOption = this.value;
        if (selectedOption === 'newBooking') {
            document.getElementById('flightBookingForm').classList.remove('hidden');
            document.getElementById('refundForm').classList.add('hidden');
            document.getElementById('cancellationForm').classList.add('hidden');
            document.getElementById('changesForm').classList.add('hidden');
            document.getElementById('eCreditForm').classList.add('hidden');
        } else if (selectedOption === 'refunds') {
            document.getElementById('flightBookingForm').classList.add('hidden');
            document.getElementById('refundForm').classList.remove('hidden');
            document.getElementById('cancellationForm').classList.add('hidden');
            document.getElementById('changesForm').classList.add('hidden');
            document.getElementById('eCreditForm').classList.add('hidden');
        } else if (selectedOption === 'cancellation') {
            document.getElementById('flightBookingForm').classList.add('hidden');
            document.getElementById('refundForm').classList.add('hidden');
            document.getElementById('cancellationForm').classList.remove('hidden');
            document.getElementById('changesForm').classList.add('hidden');
            document.getElementById('eCreditForm').classList.add('hidden');
        } else if (selectedOption === 'changes') {
            document.getElementById('flightBookingForm').classList.add('hidden');
            document.getElementById('refundForm').classList.add('hidden');
            document.getElementById('cancellationForm').classList.add('hidden');
            document.getElementById('changesForm').classList.remove('hidden');
            document.getElementById('eCreditForm').classList.add('hidden');
        } else if (selectedOption === 'eCredit') {
            document.getElementById('flightBookingForm').classList.add('hidden');
            document.getElementById('refundForm').classList.add('hidden');
            document.getElementById('cancellationForm').classList.add('hidden');
            document.getElementById('changesForm').classList.add('hidden');
            document.getElementById('eCreditForm').classList.remove('hidden');
        }
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tripTypeSelect = document.getElementById('tripType');
        const returnDateField = document.getElementById('returnDateField');
        const multiform = document.getElementById('flightSearchFormMulti');
        const nonmultiform = document.getElementById('flightSearchForm');


        // Function to handle trip type change
        function handleTripTypeChange() {
            if (tripTypeSelect.value === 'oneWay') {
                returnDateField.style.display = 'none';
                multiform.style.display = 'none';
                nonmultiform.style.display = 'block';

            }
            if(tripTypeSelect.value === 'multi'){
                returnDateField.style.display = 'none';
                multiform.style.display = 'block';
                nonmultiform.style.display = 'none';
            } 
            else {
                returnDateField.style.display = 'block';
                multiform.style.display = 'none';
                nonmultiform.style.display = 'block';
            }
        }

        // Trigger trip type change event on page load
        handleTripTypeChange();

        // Add event listener for trip type change
        tripTypeSelect.addEventListener('change', handleTripTypeChange);
    });
document.addEventListener('DOMContentLoaded', function() {
    var addCityBtn = document.getElementById('addCityBtn');
    var additionalCities = document.getElementById('additionalCities');
    var cityIndex = 2; // Starting index for additional cities

    addCityBtn.addEventListener('click', function() {
        var cityDiv = document.createElement('div');
        cityDiv.classList.add('form', 'row', 'city');
        cityDiv.innerHTML = `
            <div class="form-group col-md-4">
                <label for="departureCity${cityIndex}">Departure City:</label>
                <input type="text" class="form-control" name="departureCity[]" required>
            </div>
            <div class="form-group col-md-4">
                <label for="arrivalCity${cityIndex}">Arrival City:</label>
                <input type="text" class="form-control" name="arrivalCity[]" required>
            </div>
            <div class="form-group col-md-3">
                <label for="departureDate${cityIndex}">Departure Date:</label>
                <input type="date" class="form-control" name="departureDate[]" required>
            </div>
            <div class="form-group col-md-1">
                <button type="button" class="btn btn-danger deleteCityBtn">Delete</button>
            </div>
        `;
        additionalCities.appendChild(cityDiv);
        cityIndex++;

        // Add event listener for delete button
        var deleteButtons = document.querySelectorAll('.deleteCityBtn');
        deleteButtons.forEach(function(btn) {
            btn.addEventListener('click', function() {
                var cityRow = btn.closest('.city');
                cityRow.remove();
            });
        });
    });
});


</script>
     <script>
        // Function to fetch passenger data
        function fetchPassengerData() {
            // Get the value from the "Booking ID" field
            var bookingId = document.getElementById('bookingId').value;
    
            // Check if "Booking ID" has a value
            if (bookingId) {
                // Make an AJAX request to the server endpoint with the booking ID
                var xhr = new XMLHttpRequest();
                xhr.open('GET', '/fetch_passenger_data/?booking_id=' + bookingId, true);
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4) {
                        if (xhr.status == 200) {
                            // Parse the JSON response
                            var data = JSON.parse(xhr.responseText);
    
                            // Update form fields with the retrieved data
                            document.getElementById('bookingId').value = data.booking_id;
                            document.getElementById('passengerName').value = data.passenger_name;
                            document.getElementById('phoneNumber').value = data.phone_number;
                            document.getElementById('email').value = data.email;
                        } else {
                            console.error('Error fetching passenger data:', xhr.status, xhr.statusText);
                            // Handle the error, e.g., show an alert to the user
                        }
                    }
                };
                xhr.send();
            }
        }
    
        // Add an event listener for the "Booking ID" field
        document.getElementById('bookingId').addEventListener('input', fetchPassengerData);
    </script>
        <script>
                    $(document).ready(function () {
                        $('#fromLocation, #toLocation').on('input', function () {
                            const inputField = $(this);
                            const inputVal = inputField.val().trim();

                            if (inputVal.length >= 3) {
                                console.log("its working")
                                $.ajax({
                                    url: "{% url 'crmApp:get_location_suggestions' %}",
                                    method: 'GET',
                                    data: {
                                        keyword: inputVal
                                    },
                                    success: function (response) {
                                        const locationList = inputField.attr('id') === 'fromLocation' ? $('#fromLocationList') : $('#toLocationList');
                                        locationList.empty();

                                        response.locations.forEach(function (location) {
                                            locationList.append(`<li data-iata="${location.iataCode}">${location.name} (${location.iataCode}) - ${location.cityName} </li>`);
                                        });

                                        locationList.show();
                                    },
                                    error: function (xhr, status, error) {
                                        console.error('Error fetching locations:', error);
                                    }
                                });
                            } else {
                                $('.location-list').hide();
                            }
                        });

                        $(document).on('click', '.location-list li', function () {
                        const selectedLocation = $(this).text();
                        const iataCode = $(this).data('iata');
                        const inputField = $(this).closest('.mb-3').find('input');

                        // Set the value of the input field with the airport name
                        inputField.val(selectedLocation);
                        
                        // Set the value of the hidden input field with the IATA code
                        inputField.siblings("input[type='hidden']").val(iataCode);

                        $('.location-list').hide();
                    });
                    });


        function changeColor(clickedElement) {
            // Remove active class from the previously active element
            if (activeElement) {
                activeElement.classList.remove("active");
            }
    
            // Add active class to the clicked div
            clickedElement.classList.add("active");
    
            // Set the clicked element as the active element
            activeElement = clickedElement;
        }
        var activeElement;
        changeColor(adults)
        function incrementValue() {
            // Check if there is an active element
            if (activeElement) {
                // Get the corresponding value element
                var valueElement = activeElement.querySelector('div[id$="no"]');
            
                // Increment the value
                var currentValue = parseInt(valueElement.innerText) || 0;
                var inputfield = activeElement.querySelector('input[id$="no"]');
                // Check if the individual value and total are within the limit
                if (currentValue < 9 && getTotalValue() < 9) {
                    valueElement.innerText = currentValue + 1;
                    inputfield.value = currentValue + 1;
                    console.log(inputfield  )
                } else {
                    alert("Maximum limit reached! Individual and total values cannot exceed 9.");
                }
            }
        }
        
        function decrementValue() {
            // Check if there is an active element
            if (activeElement) {
                // Get the corresponding value element
                var valueElement = activeElement.querySelector('div[id$="no"]');
        
                // Decrement the value, but not below 0
                var currentValue = parseInt(valueElement.innerText) || 0;
                var inputfield = activeElement.querySelector('input[id$="no"]');
        
                // Check if the individual value is greater than 0
                if (currentValue > 0) {
                    valueElement.innerText = currentValue - 1;
                    inputfield.value = currentValue - 1;

                } else {
                    alert("Value cannot be less than 0.");
                }
            }
        }
        
        function getTotalValue() {
            // Calculate the total of all three values
            var adultsValue = parseInt(document.getElementById('ano').innerText) || 0;
            var childrenValue = parseInt(document.getElementById('cno').innerText) || 0;
            var infantsValue = parseInt(document.getElementById('ino').innerText) || 0;
        
            return adultsValue + childrenValue + infantsValue;
        }
        
    </script>
    

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntXU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMp9MvcJ4" crossorigin="anonymous"></script>

{% endblock %}