{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    body{
        font-family: 'Lato', sans-serif;
        font-weight: 400;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light  mb-2">
    <div class="container-fluid">

        <!-- Navbar Brand and Description -->
        <div class="container" style="width: 100%; ">
          
                <a class="navbar-brand" href="#" style="font-size: 1rem;"><b>Welcome to centers</b></a>
                <p style="font-size: 0.8rem; color: #67748E;">This is where you can manage your centers</p>
       
        </div>

        <!-- Navbar Toggler Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="{% static 'assets/search.png' %}" style="width: 1.2rem" class="" alt="search">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="{% static 'assets/message.png' %}" style="width: 1.2rem" class="" alt="message">
                    </a>
                </li>
                <li class="nav-item">
                    {% for chargeback in pending_chargebacks %}
                    <span class="position-relative" style="cursor: pointer;" onclick="showNotification('{{ forloop.counter }}')">
                        <i class="fas fa-bell position-relative" style="cursor: pointer; width: 1.2rem;" onclick="showNotification('{{ forloop.counter }}')"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-dark mt-1">
                            {{ forloop.counter }}
                        </span>
                    </span>
                    {% endfor %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="{% static 'assets/setting.png' %}" style="width: 1.2rem" class="" alt="total-users">
                    </a>
                </li>
                <li class="nav-item" style="margin-top: 3%; border: none; cursor: pointer;" onmouseover="this.style.backgroundColor='#3180ff';" onmouseout="this.style.backgroundColor='#f3f6fb';">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-user-circle fa-lg"></i>
                        <p class="mb-0 ml-2 px-2" style="font-weight: bold; font-size: large;">{{ request.user.username }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="col-md-12">
    <button class="btn btn-success mt-3" id="addCentersButton" onclick="display()" style="font-weight: bolder; font-size: 0.8rem">
        <i class="fas fa-plus" style="font-weight: bold;"></i>
        Add Centers
    </button>            
</div>
<div class="container mt-5 py-3 shadow" style="display: none" id="hidden">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Add Center</h2>
            <form method="POST" action="{% url 'crmApp:add_center' %}" enctype="multipart/form-data">
            {% comment %} <form method="POST" action="#" enctype="multipart/form-data"> {% endcomment %}
                {% csrf_token %}
                <div class="mb-3">
                    <label for="name" class="form-label">Center Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" class="form-control" id="address" name="address" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone" required>
                </div>
                <div class="mb-3">
                    <label for="contact_person" class="form-label">Contact Person</label>
                    <input type="text" class="form-control" id="contact_person" name="contact_person" required>
                </div>
                <div class="mb-3">
                    <label for="document" class="form-label">Upload Document</label>
                    <input type="file" class="form-control" id="document" name="document" accept=".pdf,.doc,.docx">
                </div>
                <button type="submit" class="btn btn-primary">Add Center</button>
            </form>
        </div>
    </div>
</div>
<div class="container border mt-2 py-5 shadow" style="background-color:white;">
    <h4 class="mb-4">Centers List</h4>
    <div class="table-responsive" >
                <table class="table " style="border-color:#74c9f7ab; font-size: 0.7rem">
                    <thead style="background-color:#EAF2FF; border:2px solid white; font-size: 0.8rem;">
                <tr>
                    <th>Center  Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Contact Person</th>
                    <th>Acknowledgement Status</th>
                    <th>Document</th>
                    <th>Status</th>
                    <td>Acknowledged At</td>
                </tr>
            </thead>
            <tbody>
                {% if centers %}
                    {% for center in centers %}
                    {% if not center.name == 'Main' %}
                    {% comment %} <tr {% if center.name == 'Main' %} style="background-color: lightblue; font-weight: bolder" {% endif %}> {% endcomment %}
                    <tr>
                        <td style="vertical-align: middle;font-weight: bolder; color: Blue; cursor: pointer" ><a href="{% url 'crmApp:center_related' %}?center={{ center.name }}">{{ center.name }}</a></td>
                        {% comment %} <td style="vertical-align: middle;font-weight: bolder; color: Blue; cursor: pointer" onclick="viewBooking('{{ center.name }}')">{{ center.name }}</td> {% endcomment %}
                        <td style="vertical-align: middle">{{ center.email }}</td>
                        <td style="vertical-align: middle">{{ center.address }}</td>
                        <td style="vertical-align: middle">{{ center.phone }}</td>
                        <td style="vertical-align: middle">{{ center.contact_person }}</td>
                        <td style="vertical-align: middle">
                            <p class="py-2" style="margin-top: 12%; text-align: center; border-radius: 3px; {% if center.acknowledgment_status == 'acknowledged' %} background-color: green; color: white {% elif center.acknowledgment_status == 'pending' %} background-color: grey; color: white; opacity: 0.5; {% endif %}">{{ center.acknowledgment_status }}</p>
                        </td>
                        <td style="vertical-align: middle">
                            {% if center.document %}
                                {% with ext=center.document.name|slice:'-4:' %}
                                    {% if ext == '.pdf' %}
                                        <a href="{% url 'crmApp:view_pdf' id=center.id %}" class="btn btn-danger" style="font-size: 0.7rem; ">
                                            <i class="bi bi-file-pdf"></i> View PDF
                                        </a>
                                    {% elif ext|lower == '.jpg' or ext|lower == '.jpeg' or ext|lower == '.png' or ext|lower == '.gif' %}
                                        <img src="{{ center.document.url }}" alt="{{ center.name }}" style="max-width: 100px; max-height: 100px;">
                                    {% else %}
                                        Unsupported file type
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                No document
                            {% endif %}
                        </td>
                        <td style="vertical-align:middle; cursor: default">
                            <p class="py-2" style="margin-top: 18%; text-align: center;border-radius: 5px;width: 5rem; {% if center.status == 'active' %} background-color: green; color: white {% elif center.status == 'inactive' %} background-color: grey; color: white; opacity: 0.5; {% endif %}">
                                {{ center.status }}
                            </p>
                        </td>
                        <td style="vertical-align: middle">
                            {{ center.signed_at }}
                        </td>
                        <td style="vertical-align: middle">
                            <form id="authorizeCenterForm" method="POST" action="{% url 'crmApp:authorize_center' %}">
                                {% csrf_token %}
                                <input type="hidden" id="centerIdInput" name="centerId" value="">
                                <button type="button" class="btn btn-primary authorize-center" data-center-id="{{ center.pk }}" style="font-size: 0.7rem;">Authorize Center</button>
                            </form>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="10" style="text-align: center; font-size: 1rem">No centers created yet</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<script>
    function display() {
        var element = document.getElementById('hidden');
        var currentDisplay = element.style.display;
        if (currentDisplay === 'block') {
            element.style.display = 'none';
        } else {
            element.style.display = 'block';
        }
    }
    
</script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Add click event listener to all "Authorize Center" buttons
        var authorizeButtons = document.querySelectorAll(".authorize-center");
        authorizeButtons.forEach(function(button) {
            button.addEventListener("click", function() {
                var centerId = this.getAttribute("data-center-id");
                // Set center ID in hidden input field
                document.getElementById("centerIdInput").value = centerId;
                // Submit the form
                document.getElementById("authorizeCenterForm").submit();
            });
        });
    });    
</script>
<!-- Form to submit booking ID -->
<form id="centerForm" method="post" action="{% url 'crmApp:center_related' %}" style="display: none;">
    {% csrf_token %}
    <input type="hidden" id="centerName" name="center_name">
</form>
<script>
    function viewBooking(centerName) {
        console.log(centerName)
        document.getElementById("centerName").value = centerName;
        document.getElementById('centerForm').submit();
}
</script>
{% endblock %}
