{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center mt-6">CRM <span>Dash</span>board - Chargeback</h1>
{% if messages %}
    <div id="successMessage" class="container">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}


<script>
    // Wait for three seconds before hiding the success message and optionally redirecting or refreshing the page
    setTimeout(function() {
        document.getElementById("successMessage").style.display = "none";
        document.getElementById("chargebackForm").reset();  // Clear the form
        // Optionally redirect or refresh the page after three seconds
        
    }, 3000);
</script>
<!-- chargeback_form.html -->
<button id="showFormButton">Add chargeback record</button>

<div id="formContainer" style="display: none;">
<!-- chargeback_form.html -->
<form method="post" action="{% url 'crmApp:submit_chargeback' %}" id="chargebackForm">
    {% csrf_token %}

    <label for="booking_confirmation_no">Booking Confirmation No:</label><br>
    <input type="text" id="booking_confirmation_no" name="booking_confirmation_no"><br><br>

    <label for="reason">Reason:</label><br>
    <input type="text" id="reason" name="reason"><br><br>

    <label for="chargeback_received_date">Chargeback Received Date:</label><br>
    <input type="date" id="chargeback_received_date" name="chargeback_received_date"><br><br>

    <input type="submit" value="Submit">
</form>

</div>

<script>
    document.getElementById('showFormButton').addEventListener('click', function() {
        var formContainer = document.getElementById('formContainer');
        if (formContainer.style.display === 'none') {
            formContainer.style.display = 'block';
        } else {
            formContainer.style.display = 'none';
        }
    });
</script>




<!-- Total Chargebacks Card -->
<div class="card mt-3 shadow" style="width:30%;">
    <div class="card-header" style= "background: linear-gradient(to right, #020024, #090979, #05113d); color: white;">
        <h6 class="card-title">Total Chargebacks</h6>
    </div>
    <div class="card-body">
        <p class="card-text">${{ total_chargeback_amount }}</p>
    </div>
</div>
<!-- Top 5 Highest Chargebacks -->
<div class="card mt-3 shadow" style="width:30%;">
    <div class="card-header" style="background: linear-gradient(to right, #020024, #090979, #05113d); color: white;">
        <h6 class="card-title">Top 5 Highest Chargebacks</h6>
    </div>
    <div class="card-body">
        <ul style="font-size: 0.8rem">
            {% for chargeback in highest_chargebacks %}
            <li>{{ chargeback.Booking.passenger_name }} - ${{ chargeback.Booking.price }}</li>
            {% endfor %}
        </ul>
    </div>
</div>



<main class="container mt-6">
    <div class="row">
        <!-- Table for Chargebacks -->
        <div class="col-md-12">
            <div class="table-responsive mt-3">
                <table class="table table-striped custom-table" style= "width:200%">
                    <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Booking Confirmation No</th>
                            <th>Lead Agent</th>
                            <th>Booking Date</th>
                            <th>Customer Name</th>
                            <th>Customer Ph No</th>
                            <th>Email Address</th>
                            <th>Departure City</th>
                            <th>Departure Date</th>
                            <th>Arrival City</th>
                            <th>Arrival Date</th>
                            <th>Price</th>
                            <th>No Of Pssgr</th>
                            <th>Credit Card No</th>
                            <th>Confirmation Mail Status</th>
                            <th>Reason</th>
                            <th>Chargeback Recieved Date</th>
                            <th>Chargeback Status</th>
                            <th>Chargeback Status</th>
                            <th>Chargeback Lead Status</th>
                            <th>Chargeback Lead Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Chargeback entries here -->
                        {% for chargeback in chargebacks %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td style="width: 10rem;">{{ chargeback.Booking.confirmation_no }}</td>
                            <td>{{chargeback.Booking.lead_agent.username}}</td>
                            <td>{{ chargeback.Booking.change_date }}</td>
                            <td style="width: 10rem;">{{ chargeback.Booking.passenger_name }}</td>
                            <td style="width: 10rem;">{{ chargeback.Booking.phone_number }}</td>
                            <td style="width: 10rem;">{{ chargeback.Booking.email }}</td>
                            <td>{{ chargeback.Booking.departure }}</td>
                            <td>{{ chargeback.Booking.departure_date }}</td>
                            <td>{{ chargeback.Booking.arrival }}</td>
                            <td>{{ chargeback.Booking.arrival_date }}</td>
                            <td>{{ chargeback.Booking.price }}</td>
                            <td>{{ chargeback.no_of_passenger }}</td>
                            <td style="width: 10rem;">{{ chargeback.Booking.card_number }}</td>
                            <td>{{ chargeback.confirmation_mail_status }}</td>
                            <td>{{ chargeback.reason }}</td>
                            <td>{{ chargeback.chargeback_received_date }}</td>
                            <td>{{ chargeback.chargeback_status }}</td>
                            <td>
                                <form id="chargeback_form_stat{{ chargeback.pk }}" method="post" action="{% url 'crmApp:update_chargeback_status' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="chargeback_id" value="{{ chargeback.pk }}">
                                    <select name="chargeback_status" onchange="confirmChangeStatus('chargeback_form_stat{{ chargeback.pk }}', this)">
                                        <option value="pending" {% if chargeback.chargeback_status == "pending" %} selected {% endif %}>Pending</option>
                                        <option value="accepted" {% if chargeback.chargeback_status == "accepted" %} selected {% endif %}>Accept</option>
                                        <option value="disputed" {% if chargeback.chargeback_status == "disputed" %} selected {% endif %}>Dispute</option>
                                    </select>
                                </form>
                            </td>
                            <td>{{ chargeback.chargeback_lead_status }}</td>
                            <td>
                                <form id="chargeback_form_{{ chargeback.pk }}" method="post" action="{% url 'crmApp:update_chargeback_lead_status' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="chargeback_id" value="{{ chargeback.pk }}">
                                    <select name="chargeback_lead_status" onchange="confirmChange('chargeback_form_{{ chargeback.pk }}', this)">
                                        <option value="pending" {% if chargeback.chargeback_lead_status == "pending" %} selected {% endif %}>Pending</option>
                                        <option value="won" {% if chargeback.chargeback_lead_status == "won" %} selected {% endif %}>Won</option>
                                        <option value="loss" {% if chargeback.chargeback_lead_status == "loss" %} selected {% endif %}>Loss</option>
                                    </select>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
<script>
    function confirmChangeStatus(formId, selectElement) {
        var confirmation = confirm("Are you sure you want to change the chargeback status?");
        if (confirmation) {
            document.getElementById(formId).submit();
        } else {
            // Reset select option to the original value
            var originalValue = '{{ chargeback.chargeback_status }}';
            for (var i = 0; i < selectElement.options.length; i++) {
                if (selectElement.options[i].value === originalValue) {
                    selectElement.selectedIndex = i;
                    break;
                }
            }
        }
    }
</script>

<script>
    function confirmChange(formId, selectElement) {
        var confirmation = confirm("Are you sure you want to change the chargeback status?");
        if (confirmation) {
            document.getElementById(formId).submit();
        } else {
            // Reset select option to the original value
            var originalValue = '{{ chargeback.chargeback_lead_status }}';
            for (var i = 0; i < selectElement.options.length; i++) {
                if (selectElement.options[i].value === originalValue) {
                    selectElement.selectedIndex = i;
                    break;
                }
            }
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y6J6XqqyGXYM2ntXU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@6.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck6BdPtF+to8xMp9MvcJ4" crossorigin="anonymous"></script>
{% endblock %}
