{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 class="text-center mt-5 py-2 col-custom-color2">CRM  <span>Dash</span>board</h1> <br>
    <div class="row">
        <div class="col-md-3  px-1 mt-md-0 mt-1">
            <div class="card shadow-lg col-custom-color card-with-background">
                <div class="card-body" style="opacity:0.7; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <svg class="svg-icon" style="width: 2em; height: 2em; vertical-align: middle; fill: currentColor; overflow: hidden;" viewBox="0 0 1322 1024" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M330.326304 602.847391l0 421.150389 198.190899 0L528.517203 602.847391l-99.100999-82.587125L330.326304 602.847391 330.326304 602.847391 330.326304 602.847391zM0 1023.99778l198.190899 0L198.190899 701.935072 0 858.839068 0 1023.99778 0 1023.99778 0 1023.99778zM990.965594 503.744173l0 520.253607 198.197558 0L1189.163152 338.58768 990.965594 503.744173 990.965594 503.744173 990.965594 503.744173zM660.648168 710.192009l0 313.805771 198.190899 0L858.839068 611.097669l-156.903996 132.133185L660.648168 710.192009 660.648168 710.192009 660.648168 710.192009zM1321.287459 0 941.419534 0l156.903996 148.6404L693.673696 478.968923 429.413985 255.998335 0 594.579356l0 148.647059 429.418424-338.58768 272.516648 222.970588 487.22808-396.386238 132.126526 123.86515L1321.287459 0 1321.287459 0 1321.287459 0z"  />
                    </svg>
                    {% if request.user.is_superuser %}
                        <a class="text-decoration-none text-reset" href="{% url 'crmApp:sales' %}">
                    {% endif %}
                        <p class="card-text mt- text-light">Total Sales: <b>$</b> {{ total_sales }}</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3  px-1 mt-md-0 mt-1">
            <div class="card shadow-lg col-custom-color card-with-background1">
                <div class="card-body" style="opacity:0.7; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
            
                    <img src="{% static 'assets/MonthlyIncomeIcon.png' %}" class="income" alt="Income">
            
                    <p class="card-text mt-2 text-light">Monthly Income: <b>$</b> {{ monthly_income }}</p>
            
                </div>
            </div>
            
        </div>
        <div class="col-md-3  px-1 mt-md-0 mt-1">
            <div class="card shadow-lg col-custom-color card-with-background2">
                <div class="card-body">
                    <p class="card-text mt-5 text-light">Annual Income: <b>$</b> {{ annual_income }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3  px-1 mt-md-0 mt-1">
        <div class="card shadow-lg col-custom-color1 card-with-background7 my-0 py-0">
            <div class="card-header bg-success">
                <h6 class="card-title text-light">Best Performer</h6>
            </div>
            <div class="card-body">
                {% comment %} <p class="card-text "><i class="fas fa-user-circle user-icon" style="opacity:0.7; "></i></i>Danswrang Boro<br>Thimpu Sengyung<br>Bhaibab Chetry<br>Mousomi Kakoti<br>Sanjay Singh</p> {% endcomment %}
                <ul class="px-0">
                    {% for agent in confirm_agentlist %}
                        <li>
                            {% if request.user.is_superuser or request.user.role == 'manager' %}
                                <p class="clickable agent-button" data-username="{{ agent.lead_agent.username }}" style="cursor: pointer">
                            {% endif %}
                                <i class="fas fa-user-circle user-icon" style="opacity:0.7;margin-right:2% "></i> {{ agent.lead_agent.username }}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-3  px-1 mt-md-0 mt-1">
            <div class="card shadow-lg col-custom-color card-with-background3">
                <div class="card-body" style="opacity:0.7; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
                    <svg height="2em" width="2em" xmlns="http://www.w3.org/2000/svg">
                        <g fill="none" fill-rule="evenodd">
                            <g fill="#000000">
                                <g transform="translate(1.000000, 0.000000)" id="call">
                                    <path d="M3.6,7.8 C5,10.6 7.4,12.9 10.2,14.4 L12.4,12.2 C12.7,11.9 13.1,11.8 13.4,12 C14.5,12.4 15.7,12.6 17,12.6 C17.6,12.6 18,13 18,13.6 L18,17 C18,17.6 17.6,18 17,18 C7.6,18 0,10.4 0,1 C0,0.4 0.4,0 1,0 L4.5,0 C5.1,0 5.5,0.4 5.5,1 C5.5,2.2 5.7,3.4 6.1,4.6 C6.2,4.9 6.1,5.3 5.9,5.6 L3.6,7.8 L3.6,7.8 Z" id="Shape"/>
                                </g>
                            </g>
                        </g>
                    </svg>
                    <p class="card-text mt-2 text-light">Total Leads: 1000</p>
                </div>
            </div>
        </div>
        <div class="col-md-3  px-1 mt-md-0 mt-1">
            <div class="card shadow-lg col-custom-color card-with-background4">
                
                <div class="card-body">
                    <p class="card-text mt-5 text-light">Total Refund: <b>$</b> 5,000</p>
                </div>
            </div>
        </div>
        <div class="col-md-3  px-1 mt-md-0 mt-1">
            <div class="card shadow-lg col-custom-color card-with-background5">
                
                <div class="card-body">
                    <p class="card-text mt-5 text-light">Total Chargeback: <b>$</b> 2,000</p>
                </div>
            </div>
        </div>
        {% if request.user.is_superuser or request.user.role == 'manager' %}
            <div class="col-md-3  px-1 mt-md-0 mt-1">
                
                <div class="card mt-2">
                    <div class="card shadow-lg col-custom-color1 card-with-background8">
                    <div class="card-header bg-success">
                        <h6 class="card-title text-light">Performance Activity</h6>
                    </div>
                    <div class="card-body my-0 py-0">
                        <ul class="px-0 mt-2">
                            <li>Total Leads</li>
                            <li>Total Sales:<span id ="t_sales" class="mx-2 text-primary"></span></li>
                            <li>Total Refund</li>
                            <li>Total Chargeback</li>
                            <li>Total Profit</li>
                        </ul>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row mt-3">
        <div class="col-md-3  px-1 mt-md-0 mt-1">
            <div class="card shadow-lg col-custom-color card-with-background6">
                
                <div class="card-body">
                    <p class="card-text mt-5 text-light">MCO: <b>$</b> 100</p>
                </div>
            </div>
        </div>
        
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% comment %} <script>
        $(document).ready(function() {
            $('.agent-button').click(function(event) {
                event.preventDefault(); // Prevent the default form submission behavior
                var username = $(this).data('username'); // Get the username from the data attribute
                var csrftoken = $('[name=csrfmiddlewaretoken]').val(); // Get the CSRF token from the hidden input field
        
                $.ajax({
                    url: '/get_agent_data/',
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken  // Include the CSRF token in the headers
                    },
                    data: {
                        username: username
                    },
                    success: function(response) {
                        console.log('Total Price:', response.total_price);
                        $('#t_sales').text('$ '+response.total_price);
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                        // Handle error response if needed
                    }
                });
            });
        });        
    </script> {% endcomment %}
    <script>
        $(document).ready(function() {
            // Perform AJAX request when the document is ready
            getAgentData();
    
            $('.agent-button').click(function(event) {
                event.preventDefault(); // Prevent the default form submission behavior
                getAgentData();
            });
    
            function getAgentData() {
                var username = $('.agent-button').data('username'); // Get the username from the data attribute
                var csrftoken = $('[name=csrfmiddlewaretoken]').val(); // Get the CSRF token from the hidden input field
    
                $.ajax({
                    url: '/get_agent_data/',
                    type: 'POST',
                    headers: {
                        'X-CSRFToken': csrftoken  // Include the CSRF token in the headers
                    },
                    data: {
                        username: username
                    },
                    success: function(response) {
                        console.log('Total Price:', response.total_price);
                        $('#t_sales').text('$ ' + response.total_price);
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                        // Handle error response if needed
                    }
                });
            }
        });        
    </script>
    
    {% comment %} <script>
        // Get all list items with the class "clickable"
        var clickableItems = document.querySelectorAll('.clickable');
    
        // Loop through each clickable item and attach a click event listener
        clickableItems.forEach(function(item) {
            item.addEventListener('click', function() {
                // Log the text content of the clicked list item to the console
                console.log(item.textContent);
            });
        });
    </script> {% endcomment %}
{% endblock %}
