{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoices</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div style="text-align: center; margin: auto; width: 1000px">
        <img src="{% static 'assets/banner.png' %}" alt="banner" style="display: block; margin: auto; height: 180px; width: 1000px;">
    </div> 
    <section id="invoice" style="max-width: 1000px; height: 100 vh; margin: auto;">
        <table style="background-color: #f8f9fa; padding: 20px; width: 100%;">
            <tr>
                <td style="width: 50%; vertical-align: top;">
                    <h4>From</h4>
                </td>
                <td style="width: 50%; text-align: right; vertical-align: top;">
                    <h4>To</h4>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <strong>Flight Booking Travel Agency</strong><br>
                    Email: booking@example.com<br>
                    Phone: +1234567890
                </td>
                <td style="text-align: right; vertical-align: top;">
                    <strong>John Doe</strong><br>
                    johndoe@example.com<br>
                    +9876543210
                </td>
            </tr>
        </table>
        <div class="row">
            <div class="col">
                <h4>Passenger Details</h4>
                <table class="table" style="width: 100%; border-style: dashed; border-color: black; border-width: 0.5px; border-collapse: collapse; padding: 10px;">
                    <tr style="border-style: dashed; border-width: 1px; font-size: 0.9rem">
                        <th style="width: 20%; padding: 5px; text-align: center;">Name</th>
                        <th style="width: 20%; padding: 5px; text-align: center;">Email</th>
                        <th style="width: 20%; padding: 5px; text-align: center;">Phone</th>
                        <th style="width: 20%; padding: 5px; text-align: center;">Age</th>
                        <th style="width: 20%; text-align: center;padding: 5px;">Sex</th>
                    </tr>
                    <tr style="border-style: dashed;border-width: 1px;font-size: 0.8rem">
                        <td style="width: 20%; padding: 5px; text-align: center; border-right: 1px dashed;">John Doe</td>
                        <td style="width: 20%; padding: 5px; text-align: center; border-right: 1px dashed;">john@example.com</td>
                        <td style="width: 20%; padding: 5px; text-align: center; border-right: 1px dashed;">1234567890</td>
                        <td style="width: 20%; padding: 5px; text-align: center; border-right: 1px dashed;">25</td>
                        <td style="width: 20%; text-align: center; padding: 5px;">Male</td>
                    </tr>
                </table>                
            </div>
        </div>
        <div class="row">
            <h4>Itinerary Details</h4>
            <table class="table" style="width: 100%; border-style: dashed; border-color: black; border-width: 0.5px; border-collapse: collapse; padding: 10px;">
                <thead style="font-size: 0.9rem">
                    <tr style="border-style: dashed; border-width: 1px;">
                        <th>Airline</th>
                        <th>Depart City</th>
                        <th>Arrival City</th>
                        <th>Depart Airport</th>
                        <th>Arrival Airport</th>
                        <th>Departure Time</th>
                        <th>Arrival Time</th>
                        <th>Class</th>
                        <th>Baggage Info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="font-size: 0.8rem; text-align: center;">
                        <td style="text-align: left;padding: 5px; border-right: 1px dashed;">
                            <img class="airline-logo" src="airline_logo.jpg" alt="Airline Logo">
                            <div class="info-value">Spice Jet</div>
                            <div class="info-value">SG123</div>
                        </td>
                        <td style="text-align: center;padding: 5px; border-right: 1px dashed;">
                            Delhi
                        </td>
                        <td style="text-align: center;padding: 5px; border-right: 1px dashed;">
                            Guwahati
                        </td>
                        <td style="text-align: center;padding: 5px; border-right: 1px dashed;">
                            Indira Gandhi International Airport
                        </td>
                        <td style="text-align: center;padding: 5px; border-right: 1px dashed;">
                            Lokhpriya Gopinath Bordoloi International Airport
                        </td>
                        <td style="text-align: center;padding: 5px; border-right: 1px dashed;">
                            19:20
                        </td>
                        <td style="text-align: center;padding: 5px; border-right: 1px dashed;">
                            20:24
                        </td>
                        <td style="text-align: center;padding: 5px; border-right: 1px dashed;">
                            Premium Economy
                        </td>
                        <td style="text-align: center;padding: 5px; border-right: 1px dashed;">
                            1Kg
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <table style="width: 100%; border-collapse: collapse; margin-top: 5px;">
            <!-- Airline Fare -->
            <tr>
                <td style="width: 50%; padding: 5px;">
                    <label for="basePrice" style="font-weight: bold;">Airline Fare:</label>
                </td>
                <td style="width: 50%; padding: 5px;">
                    <input type="number" id="basePrice" name="basePrice" style="width: 100%;" value="1500" readonly>
                </td>
            </tr>
            <!-- Description -->
            <tr>
                <td style="width: 50%; padding: 5px;">
                    <label for="description1" style="font-weight: bold;">Description:</label>
                </td>
                <td style="width: 50%; padding: 5px;">
                    <input type="text" id="description1" name="description1" style="width: 100%;" value="Airfare to Delhi" readonly>
                </td>
            </tr>
            <!-- Total -->
            <tr>
                <td style="width: 50%; padding: 5px;">
                    <label for="total1" style="font-weight: bold;">Total:</label>
                </td>
                <td style="width: 50%; padding: 5px;">
                    <input type="text" id="total1" name="total1" style="width: 100%;" value="1700" readonly>
                </td>
            </tr>
            <!-- Tax -->
            <tr>
                <td style="width: 50%; padding: 5px;">
                    <label for="tax" style="font-weight: bold;">Tax:</label>
                </td>
                <td style="width: 50%; padding: 5px;">
                    <input type="number" id="tax" name="tax" style="width: 100%;">
                </td>
            </tr>
            <!-- Additional Charges -->
            <tr>
                <td style="width: 50%; padding: 5px;">
                    <label for="additionalCharges" style="font-weight: bold;">Additional Charges:</label>
                </td>
                <td style="width: 50%; padding: 5px;">
                    <input type="number" id="additionalCharges" name="additionalCharges" style="width: 100%;">
                </td>
            </tr>
            <!-- Discount -->
            <tr>
                <td style="width: 50%; padding: 5px;">
                    <label for="discount" style="font-weight: bold;">Discount:</label>
                </td>
                <td style="width: 50%; padding: 5px;">
                    <input type="number" id="discount" name="discount" style="width: 100%;">
                </td>
            </tr>
            <!-- Total Discount -->
            <tr>
                <td style="width: 50%; padding: 5px;">
                    <label for="totalDiscount" style="font-weight: bold;">Total Discount:</label>
                </td>
                <td style="width: 50%; padding: 5px;">
                    <input type="text" id="totalDiscount" name="totalDiscount" style="width: 100%;" readonly>
                </td>
            </tr>
            <!-- Grand Total -->
            <tr>
                <td style="width: 50%; padding: 5px;">
                    <label for="grandTotal" style="font-weight: bold;">Grand Total:</label>
                </td>
                <td style="width: 50%; padding: 5px;">
                    <input type="text" id="grandTotal" name="grandTotal" style="width: 100%;" readonly>
                </td>
            </tr>
        </table>
        
    </section>   
</body>
</html>
