{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 style="font-size: 0.9rem" class="bg-dark text-warning text-uppercase py-3 px-2 mt-5">Booking for initiation</h1>
<div class="table-responsive mt-3">
    <table class="table table-striped" style="font-size: 0.7rem">
        <tr>
            <th>Booking Id</th>
            <th>Lead Agent</th>
            <th>Action</th>
        </tr>
        {% for b in book %}
        <tr>
            <td  style="font-weight: bolder; color: Blue; cursor: pointer" onclick="viewBooking('{{ b.booking_id }}')">{{b.booking_id}}</td>
            <td>{{b.lead_agent}}</td>
            <td><a href="{% url 'crmApp:gateway' %}"><input type="button" value="Initiate Payment" id="ip"></a></td>
        </tr>
    {% endfor %}
    </table>
</div>

<form id="bookingForm" method="post" action="{% url 'crmApp:related_booking' %}" style="display: none;">
    {% csrf_token %}
    <input type="hidden" id="bookingIdInput" name="booking_id">
</form>
<script>
    function viewBooking(bookingId) {
        console.log(bookingId)
        document.getElementById("bookingIdInput").value = bookingId;
        document.getElementById('bookingForm').submit();
}
</script>
{% endblock %}
