<!-- payment.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light  mb-2">
    <div class="container-fluid">

        <!-- Navbar Brand and Description -->
        <div class="container" style="width: 100%; ">
          
                <a class="navbar-brand" href="#" style="font-size: 1rem;"><b>Welcome to payment</b></a>
                <p style="font-size: 0.8rem; color: #67748E;">This is where you can manage your tasks and view important information.</p>
       
        </div>

        <!-- Navbar Toggler Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="{% static 'assets/search.png' %}" style="width: 1.2rem" class="" alt="search">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="{% static 'assets/message.png' %}" style="width: 1.2rem" class="" alt="message">
                    </a>
                </li>
                <li class="nav-item">
                    {% for chargeback in pending_chargebacks %}
                    <span class="position-relative" style="cursor: pointer;" onclick="showNotification('{{ forloop.counter }}')">
                        <i class="fas fa-bell position-relative" style="cursor: pointer; width: 1.2rem;" onclick="showNotification('{{ forloop.counter }}')"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-dark mt-1">
                            {{ forloop.counter }}
                        </span>
                    </span>
                    {% endfor %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="{% static 'assets/setting.png' %}" style="width: 1.2rem" class="" alt="total-users">
                    </a>
                </li>
                <li class="nav-item" style="margin-top: 3%; border: none; cursor: pointer;" onmouseover="this.style.backgroundColor='#3180ff';" onmouseout="this.style.backgroundColor='#f3f6fb';">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-user-circle fa-lg"></i>
                        <p class="mb-0 ml-2 px-2" style="font-weight: bold; font-size: large;">{{ request.user.username }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-5" style="background-color:white;">
    <div class="container"><h5>Payment List</h5></div>
    
    <div class="card-body">
        <table class="table " style="border-color:#74c9f7ab">
            <thead style="background-color:#EAF2FF; border:2px solid white; font-size: 0.8rem;">
                <tr>
                    <th>Booking Id</th>
                    <th>Transaction Id</th>
                    <th>Transaction Status</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Card Holder Name</th>
                    <th>Card Number</th>
                    <th>Expiry Date</th>
                    {% comment %} <th>CVV</th> {% endcomment %}
                    <th>Card Type</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in payments %}
                    <tr>
                        <td style="font-weight: bolder; color: Blue; cursor: pointer" onclick="viewBooking('{{ payment.booking.booking_id }}')">{{ payment.booking.booking_id }}</td>
                        <td>{{payment.transaction_id}}</td>
                        <td>{{ payment.transaction_status}}</td>
                        <td>{{ payment.amount }}</td>
                        <td>{{ payment.payment_date }}</td>
                        <td>{{ payment.cardholder_name }}</td>
                        <td>{{ payment.card_number }}</td>
                        <td>{{ payment.expiry_date }}</td>
                        {% comment %} <td>{{ payment.cvv }}</td> {% endcomment %}
                        <td>{{ payment.card_type }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- Form to submit booking ID -->
<form id="bookingForm" method="post" action="{% url 'crmApp:related_booking' %}" style="display: none;">
    {% csrf_token %}
    <input type="hidden" id="bookingIdInput" name="booking_id">
</form>

{% comment %} <script>
    // Function to open modal and submit booking ID
    function viewBooking(bookingId) {
        // Set booking ID in the form
        document.getElementById("bookingIdInput").value = bookingId;
        // Trigger the modal to display
        $('#bookingModal').modal('show');
    }
</script> {% endcomment %}
<script>
    function viewBooking(bookingId) {
        document.getElementById("bookingIdInput").value = bookingId;
        document.getElementById('bookingForm').submit();
    }
</script>



{% endblock %}

