{% extends 'base.html' %}
{% load static %}
{% block head %}
<!-- CSS only -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-+0n0xVW2Db/gq1Pb8sfvOf9Ho4lZA00k5KTO2+i/Zppn8cM6U2t3Zg1H9YBmw5Xr" crossorigin="anonymous">

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-AZJVEa7B6whl+Sx0ETny15SoyjA9sxFQg1ZIwF+r5xgmsG/7voi5pC/hj6iEa8e/" crossorigin="anonymous"></script>

{% endblock %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light  mb-2">
    <div class="container-fluid">

        <!-- Navbar Brand and Description -->
        <div class="container" style="width: 100%; ">
          
                <a class="navbar-brand" href="#" style="font-size: 1rem;"><b>Welcome to refund</b></a>
                <p style="font-size: 0.8rem; color: #67748E;">This is where you can manage your tasks and view important information.</p>
       
        </div>

        <!-- Navbar Toggler Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="{% static 'assets/search.png' %}" style="width: 1.2rem" class="" alt="search">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="{% static 'assets/message.png' %}" style="width: 1.2rem" class="" alt="message">
                    </a>
                </li>
                <li class="nav-item">
                    {% for chargeback in pending_chargebacks %}
                    <span class="position-relative" style="cursor: pointer;" onclick="showNotification('{{ forloop.counter }}')">
                        <i class="fas fa-bell position-relative" style="cursor: pointer; width: 1.2rem;" onclick="showNotification('{{ forloop.counter }}')"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill text-dark mt-1">
                            {{ forloop.counter }}
                        </span>
                    </span>
                    {% endfor %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="{% static 'assets/setting.png' %}" style="width: 1.2rem" class="" alt="total-users">
                    </a>
                </li>
                <li class="nav-item" style="margin-top: 3%; border: none; cursor: pointer;" onmouseover="this.style.backgroundColor='#3180ff';" onmouseout="this.style.backgroundColor='#f3f6fb';">
                    <div class="d-flex align-items-center">
                        <i class="fas fa-user-circle fa-lg"></i>
                        <p class="mb-0 ml-2 px-2" style="font-weight: bold; font-size: large;">{{ request.user.username }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1 class="text-center mt-5">CRM <span>Dash</span>board - Refunds</h1>
<div class="card-body">
    <table class="table " style="border-color:#74c9f7ab">
        <thead style="background-color:#EAF2FF; border:2px solid white; font-size: 0.8rem;">
            <tr>
                <th>Booking Id</th>
                <th>Refund Amount</th>
                <th>Refund Reason</th>
                <th>Refund Status</th>
                <th>Refund Lead Status</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for r in refund %}
            <tr>
                <td style="font-weight: bolder; color: Blue; cursor: pointer" onclick="viewBooking('{{ r.booking_id }}')">{{ r.booking_id }}</td>
                <td><b>$</b> {{ r.refund_amount }}</td>
                <td>{{ r.refund_reason }}</td>
                <td>N/A</td>
                <td>
                    <select>
                        <option value="pending" selected >Pending</option>
                        <option value="approved" >Approved</option>
                        <option value="declined" >Declined</option>
                    </select>
                </td>
                <td>{{ r.status }}</td>
                <td>
                    <form method="POST" action="{% url 'crmApp:update_refund_status' %}">
                        {% csrf_token %}
                        <input type="hidden" name="booking_id" value="{{ r.booking_id }}">
                        <select name="status" onchange="this.form.submit()">
                            <option value="pending" {% if r.status == 'pending' %} selected {% endif %}>Pending</option>
                            <option value="inprocess" {% if r.status == 'inprocess' %} selected {% endif %}>In Process</option>
                            <option value="confirmed" {% if r.status == 'confirmed' %} selected {% endif %}>Confirmed</option>
                            <option value="cancelled" {% if r.status == 'cancelled' %} selected {% endif %}>Cancel</option>
                        </select>
                    </form>
                </td>                            
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
    <hr>
</div>

<form id="bookingForm" method="post" action="{% url 'crmApp:related_booking' %}" style="display: none;">
    {% csrf_token %}
    <input type="hidden" id="bookingIdInput" name="booking_id">
</form>
<script>
    function viewBooking(bookingId) {
        document.getElementById("bookingIdInput").value = bookingId;
        document.getElementById('bookingForm').submit();
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntXU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMp9MvcJ4" crossorigin="anonymous"></script>
{% endblock %}


