{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1 class="text-center mt-5">CRM <span>Dash</span>board</h1>
<div class="table-responsive mt-5" style="background-color:white;">
    <div style="padding:3px;"> <h6>Rejected table</h6></div>
    <table style="border-color:#74c9f7ab; width:100%">
        <thead style="background-color:#EAF2FF; border:2px solid white; font-size: 0.8rem;">
            <tr>
                <th>Rejected ID</th>
                <th>Customer Name</th>
                <th>Booking ID</th>
                <th>Reason</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for r in rejected_bookings %}
            <tr>
                <td>{{r.id}}</td>
                <td>{{r.passenger_name}}</td>
                <td>{{r.booking_id}}</td>
                <td>{{r.reason}}</td>
                <td>{{r.change_date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntXU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMp9MvcJ4" crossorigin="anonymous"></script>
{% endblock %}