<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOu805FkTduG2Fj5z0x6Gl0iXQrQlOQ0gMf5.C3f5z7A" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2aOt/Q==" crossorigin="anonymous" />
    <title>CRM Dashboard</title>
    <style>
        $Grayscale1: #F4F5F5;
$SlateDark: #152835;
$active-color: #3799CF;

html {
  background-color: $Grayscale1;  
  margin: 5em;
  font-family: Roboto-Regular;
}
a {
  color: $active-color;
}

i.icon {
  font-style: normal;
  font-family: "Egencia-Icons";
}
.logo {
  display: inline-block;
  width: 11%;
  text-align: center;
  padding-right: 24px;
  img {
    max-width: 50px;
  }
}
.info {
  display: inline-block;
  width: 85%;
  vertical-align: top;
}
.air-desc {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  div{
   display: inline-block;
  }
}

.air-dur {
  display: inline-block;
  vertical-align: top;
  width: 22.5%;
}

.box {
  max-width: 700px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12);
  padding: 24px;
  &.lite {
  }
}

.airline {
  font-size: 13px;
  color: #8D949A;
  padding-bottom: 9px;
}

.time {
  font-size: 21px;
  .sm {
    font-size: 13px;
  }
}

.time-arrow {
  font-size: 13px;
  color: #C6CACD;
  padding: 0 12px;
}

.top {
  font-size: 15px;
  color: #8D949A;
  padding-top: 6px;
}

.bottom {
  font-size: 13px;
  color: #AFB4B9;
  padding-top: 3px;
}
.price {
  font-size: 21px;
  color: #202D38;
  margin-top: -3px;
}
.text-center {
  text-align: center;
}

.box .hover {
  display: none;
}
.box:hover .hover {
  display: block;
}
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{% url 'crmApp:base' %}">
                                <i class="fas fa-tachometer-alt mr-2"></i>Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'crmApp:total_booking' %}">
                                <i class="fas fa-calendar-check mr-2"></i>Total Bookings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'crmApp:total_user' %}">
                                <i class="fas fa-users mr-2"></i>Total Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fas fa-exclamation-triangle mr-2"></i>Status
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'crmApp:booking' %}">
                                <i class="fas fa-calendar-times mr-2"></i>Bookings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'crmApp:refund' %}">
                                <i class="fas fa-redo-alt mr-2"></i>Refunds
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'crmApp:chargeback' %}">
                                <i class="fas fa-ban mr-2"></i>Chargebacks
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'crmApp:rejected' %}">
                                <i class="fas fa-times mr-2"></i>Rejected
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'crmApp:mco' %}">
                                <i class="fas fa-id-card-alt mr-2"></i>MCO
                            </a>
                        </li>
                        <!-- New links -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'crmApp:cancellation' %}">
                                <i class="fas fa-times-circle mr-2"></i>Cancellations
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'crmApp:ecredit' %}">
                                <i class="fas fa-credit-card mr-2"></i>E-Credit
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 col-lg-10">
               
                <nav class="navbar navbar-expand-lg navbar-light custom-bg-color1 border-bottom">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">
                                        <i class="fas fa-tachometer-alt mr-2"></i>Dashboard
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'crmApp:total_booking' %}">
                                        <i class="fas fa-calendar-check mr-2"></i>Total Bookings
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-users mr-2"></i>Total Users
                                    </a>
                                </li> 
                                {% comment %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-dollar-sign mr-2"></i>Earnings
                                    </a>
                                </li>
                                {% endcomment %}
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-exclamation-triangle mr-2"></i>Status
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-calendar-times mr-2"></i>Bookings
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-redo-alt mr-2"></i>Refunds
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-ban mr-2"></i>Chargebacks
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-times mr-2"></i>Rejected
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fas fa-id-card-alt mr-2"></i>MCO
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="container-fluid">
                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                        <h1 class="text-center mt-5">Flight Search Results</h1>
                        <div class="container mt-3">
                            {% for flight in flights %}
                            <div class="box">
                                <div class="airline">{{ flight.itineraries.0.segments.0.carrierCode }}</div>
                                <div class="air-desc">
                                    <div class="time">{{ flight.itineraries.0.segments.0.departure.at | date:"h:i A" }}<span class="sm">P</span></div>
                                    <div class="time-arrow">
                                        <i class="icon"></i>
                                    </div>
                                    <div class="time">{{ flight.itineraries.0.segments.0.arrival.at | date:"h:i A" }}<span class="sm">P</span></div>
                                </div>
                                <div class="air-dur">
                                    <div class="top">10h 45m</div>
                                    <div class="bottom">{{ flight.itineraries.0.segments.0.departure.iataCode }} - {{ flight.itineraries.0.segments.0.arrival.iataCode }}</div>
                                </div>
                                <div class="air-dur">
                                    <div class="top">10h 45m</div>
                                </div>
                                <div class="air-dur text-center">
                                    <div class="price">{{ flight.price.total }}</div>
                                    <div class="hover bottom">roundtrip</div>
                                </div>
                            </div>
                            <br>
                            {% endfor %}
                        </div>
                                                
                    </main>
                </div>
                
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntXU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pzjw8f+ua7Kw1TIq0v8FqFjcJ6pajs/rfdfs3SO+kD4Ck5BdPtF+to8xMp9MvcJ4" crossorigin="anonymous"></script>
</body>
</html>