{% extends 'base.html' %}
{% load static %}
{% tim_tags %}
{% block content %}
<section id="invoice" style="max-width: 900px; height: auto; margin: auto; margin-top: 10px; padding: 10px 10px 0 10px; background-color: #f8f9fa;">
    <table style="padding: 20px; width: 100%; font-size: 0.7rem; margin-top: 10px">
        <tr>
            <td style="width: 50%; vertical-align: top;">
                <h4 style="font-size: 0.7rem">From</h4>
            </td>
            <td style="width: 50%; text-align: right; vertical-align: top;">
                <h4 style="font-size: 0.7rem">To</h4>
            </td>
        </tr>
        <tr>
            <td style="vertical-align: top;">
                <strong>Flight Booking Travel Agency</strong><br>
                Email: booking@example.com<br>
                Phone: +1234567890
            </td>
            <td style="text-align: right; vertical-align: top;">
                <strong>{{ order.travelers.0.name.firstName }} {{ order.travelers.0.name.lastName }}</strong><br>
                {{ order.travelers.0.contact.emailAddress }}<br>
                +{{ order.travelers.0.contact.phones.0.countryCallingCode }} {{ order.travelers.0.contact.phones.0.number }}
            </td>
        </tr>
    </table>
    <hr>
    <div class="row">
        <div class="col">
            <h4 style="font-size: 0.8rem">Passenger Details</h4>
            <table class="table" style="width: 100%; border-style: dashed; border-color: black; border-width: 0.5px; border-collapse: collapse; padding: 10px;">
                <tr style="border-style: dashed; border-width: 1px; font-size: 0.6rem">
                    <th style="width: 20%; padding: 5px; text-align: center;">Name</th>
                    <th style="width: 20%; padding: 5px; text-align: center;">Email</th>
                    <th style="width: 20%; padding: 5px; text-align: center;">Phone</th>
                    <th style="width: 20%; padding: 5px; text-align: center;">Type</th>
                    <th style="width: 20%; text-align: center;padding: 5px;">Sex</th>
                </tr>
                {% for traveler in order.travelers %}
                        <tr style="border-style: dashed; border-width: 1px; font-size: 0.6rem">
                            <td style="width: 20%; padding: 5px; text-align: center; border-right: 1px dashed;">{{ traveler.name.firstName }}</td>
                            <td style="width: 20%; padding: 5px; text-align: center; border-right: 1px dashed;">{{ traveler.contact.emailAddress }}</td>
                            <td style="width: 20%; padding: 5px; text-align: center; border-right: 1px dashed;">+{{ traveler.contact.phones.0.countryCallingCode }} {{ traveler.contact.phones.0.number }}</td>
                            <td style="width: 20%; padding: 5px; text-align: center; border-right: 1px dashed;">Adult</td>
                            <td style="width: 20%; text-align: center; padding: 5px;">Male</td>
                        </tr>
                {% endfor %}
            </table>                
        </div>
    </div>
    <div class="row">
        <h4 style="font-size: 0.8rem">Itinerary Details</h4>
        <table class="table" style="width: 97.5%; font-size:0.6rem; border-style: dashed; margin:auto;border-color: black; border-width: 0.5px; border-collapse: collapse; padding: 10px;">
            <thead style="font-size: 0.6rem; text-align: center">
                <tr style="border-style: dashed; border-width: 1px;">
                    <th>Airline</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Departure Time</th>
                    <th>Arrival Time</th>
                    <th>Class</th>
                    <th>Baggage Info</th>
                </tr>
            </thead>
            <tbody>
                {% for flight in order.flightOffers %}
                    {% for itinery in flight.itineraries %}
                        {% for segment in itinery.segments %}
                        <tr style="font-size: 0.6rem; text-align: center;">
                            <td style="text-align: left;padding: 5px; border-right: 1px dashed;">
                                <img class="airline-logo" src="airline_logo.jpg" alt="Airline Logo">
                                <div class="info-value">{{ segment.carrierCode }}</div>
                                <div class="info-value">{{ segment.carrierCode }}{{ segment.number }}</div>
                            </td>
                            <td style="text-align: center;padding: 5px; border-right: 1px dashed;">
                                {{segment.departure.iataCode}}
                            </td>
                            <td style="text-align: center;padding: 5px; border-right: 1px dashed;">
                                {{segment.arrival.iataCode}}
                            </td>
                            <!-- <td style="text-align: center;padding: 5px; border-right: 1px dashed;">
                                {{segment.departure.iataCode}}
                            </td>
                            <td style="text-align: center;padding: 5px; border-right: 1px dashed;">
                                {{segment.arrival.iataCode}}
                            </td> -->
                            <td style="text-align: center;padding: 5px; border-right: 1px dashed;">
                                {{segment.departure.at}}
                            </td>
                            <td style="text-align: center;padding: 5px; border-right: 1px dashed;">
                                {{segment.arrival.at}}
                            </td>
                            <td style="text-align: center;padding: 5px; border-right: 1px dashed;">
                                {{segment.co2Emissions.0.cabin}}
                            </td>
                            <td style="text-align: center;padding: 5px; border-right: 1px dashed;">
                                {{flight.travelerPricings.0.fareDetailsBySegment.0.includedCheckedBags.weight}}kg/person
                            </td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                
                {% endfor %}
            </tbody>
        </table>
    </div>
    <table style="width: 50%; text-align: left; border-collapse: collapse; margin-top: 20px; font-size: 0.6rem;">
        <tr>
            <th style="width: 50%; padding: 5px; font-weight: bold;">Airfare Charges</th>
            <td style="width: 50%; padding: 5px; text-align: right; font-size: 0.6rem;" id="airfarecharges">${{airlinefare}}</td>
        </tr>
        <tr>
            <th style="width: 50%; padding: 5px; font-weight: bold;">Miscellaneous Fees</th>
            <td id="additionChargesTotal" style="width: 50%; padding: 5px; text-align: right; font-size: 0.6rem;">${{ miscellaneous }}</td>
        </tr>
        <tr>
            <th style="width: 50%; padding: 5px; font-weight: bold;">Tax</th>
            <td id="taxAmount" style="width: 50%; padding: 5px; text-align: right; font-size: 0.6rem;">${{tax}}</td>
        </tr>
        <tr>
            <th style="width: 50%; padding: 5px; font-weight: bold;">Discount</th>
            <td id="discountAmount" style="width: 50%; padding: 5px; text-align: right; font-size: 0.6rem;">${{discount}}</td>
        </tr>
        <tr style="border-top: 1px solid grey">
            <th style="width: 50%; padding: 5px; font-weight: bold;"><b>Total Charge</b></th>
            <td id="totalPriceAfterDiscount" style="width: 50%; padding: 5px; text-align: right; font-size: 0.6rem;"><b>$0</b></td>
        </tr>
    </table>
    <form id="this_form" method='POST' action="{% url 'crmApp:send_email'  %}">
        {% csrf_token %}
        <input type="hidden"  name="invoice_id"  id="id_to_pass" value="{{ invoice.invoice_id }}"/>
    </form>
    <button type="submit" id="submit_the_form" style="background-color: BLUE; padding: 5px; margin-top: 10px; width: 100px; border: none; cursor: pointer; color: white"> send mail</button>

</section>  
<script>
    // Function to handle form submission
    function submitForm() {
        // Assuming there's some logic here to send the mail
        // For demonstration purposes, let's just log a message
        console.log("Mail sent!");
        document.getElementById("this_form").submit();
        // You can add your AJAX call or any other logic to actually send the mail here
    }

    // Attaching the function to the button click event
    document.getElementById("submit_the_form").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent the default form submission behavior
        submitForm(); // Call the function to handle form submission
    });
</script>
{% endblock %}