:root{
    --color-primary: #070F2B;
    --color-secondary: #1B1A55;
    --color-accent: #535C91;
    --color-background: #9290C3;
    --color-off-white: 240, 18%, 97%
    --color-purple: 239, 39%, 45%
    --color-light-purple: 240, 52%, 94%
    --color-orange: 13, 94%, 66%
    --color-dark-orange: 13, 94%, 46%
    --font-weight-normal: 400
    --font-weight-medium: 600
    --font-weight-bold: 700
    --ease-out-quart: cubic-bezier(0.25, 1, 0.5, 1)
}


.nav.flex-column {
    font-size: 14px;
}


.custom-bg-color {
    background: linear-gradient(to bottom, #020024, #090979, #05113d);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff; /* Set text color to white for better visibility */
    min-height: 100vh;
  }

a{
    color:aliceblue;
}
.custom-bg-color1{
    /* background-color: #1597BB; */
    width:100%;
    color:aliceblue;

}
main{
    padding:0 !important;
}
/* Base page card CSS */

.col-custom-color{
    height: 10rem;
    text-align: center;

}
.col-custom-color1{
    background-color: #A5D7E8;
}
.card-with-background {
    background-color: #9FCC2A; /* Add your desired background color class here */
    
    background-size: 100% 100%;
}

.card-with-background1 {
    background-color: #03A9f4;/* Add your desired background color class here */
    
    background-size: 100% 100%;
}
.card-with-background2 {
    background-color:#AB47BC; /* Add your desired background color class here */
    background-size: 100% 100%;
}
.card-with-background3 {
    background-color: #f6a730; /* Add your desired background color class here */
    background-size: 100% 100%;
}
.card-with-background4 {
    background-color: #f1721d;/* Add your desired background color class here */
    background-size: 100% 100%;
}
.card-with-background5 {
    background-color:rgb(247, 44, 44); /* Add your desired background color class here */
    background-size: 100% 100%;
}

.card-with-background6 {
    background-color: rgb(74, 74, 243); /* Add your desired background color class here */
    background-size: 100% 100%;
}
.card-with-background7 {
    background: linear-gradient(#c9c9d5,#cabdcd); /* Add your desired background color class here */
    background-size: 100% 100%;
    font-size: 0.9rem;
}
.card-with-background8 {
    background: linear-gradient(#c9c9d5,#cabdcd); /* Add your desired background color class here */
    background-size: 100% 100%;
    font-size: 0.9rem;
}
.Title-base{
    background: linear-gradient(to right, #020024, #090979, #05113d);
}

.income{
    height: 30%;
    width:20%;
    opacity: 0.7;
}

span{
    color:red;
}


.profile-section {
    margin-bottom: 20px;
}

.profile-icon {
    width: 70px; /* Adjust the size as needed */
    height: 70px;
}

.user-name {
    color: white;
    font-size: 14px;
}
.user-icon{
color:white;
margin:auto;
}

.online-dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: green; /* Change the color as needed */
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
}
.btn:hover .tooltip {
    display: inline-block;
}

ul, li{
    list-style: none!important;
}
/* Add a transition effect for a smooth color change and box shadow */
.nav-link {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Apply styles on hover */
.nav-link:hover {
    background-color: #25476A; /* Change to your desired background color */
    color: #fff; /* Change to your desired text color */
}
.glass-effect {
    border-radius: 10px;
    padding: 0%;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

#svgImage {
    opacity: 0.7; /* Adjust the opacity as needed */
    transition: opacity 0.3s ease;
}

  /* .white-btn {
    background-color: white;
    color: black; 
    
} */


.custom-table{
 font-size: 0.7rem ;
}
.custom-table1{
    font-size:0.8rem;
}

/* all table title css */

.card-title{
    margin-bottom:0;
    color:white;
}

/* Total booking page css */

.col-custom-total{
    text-align: center;
    background: linear-gradient(to right, #020024, #090979, #05113d); /* Add linear gradient */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff; /* Set text color to white for better visibility */
}
.custom-table{
    font-size: 0.7rem ;
   }
.custom-table1{
       font-size:0.8rem;
   }
.card-title{
       margin-bottom:0;
   }

/* Total Users CSS */

.col-custom-color2{
    background: linear-gradient(to right, #020024, #090979, #05113d); /* Add linear gradient */
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #fff; /* Set text color to white for better visibility */


}

/* booking CSS */
.custom-flight {
    margin: 0;
    overflow: hidden;
    background: radial-gradient(
      circle,
      rgb(3, 155, 229) 20%,
      rgb(1, 51, 75) 120%
    );
  }



  /* charge back CSS */

  .col-custom-charge{
     background: linear-gradient(to right, #020024, #090979, #05113d);
  }

  .custom-table-charge{
    font-size: 0.8rem ;
   }

   /* Ecredit CSS */

   .btn-hover-zoom:hover {
    transform: scale(1.1); /* Adjust the scale factor as needed */
}