/* Existing styles above */

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .seat {
      width: 15px;
      height: 15px;
    }
  
    .available,
    .blocked {
      font-size: 0.7rem;
      width: 3vw;
      height: 3vh;
      padding: 0.3%;
    }
  
    .seatContainer {
      width: 80%;
      border-top-right-radius: 45%;
      border-top-left-radius: 45%;
    }
  }
  
  /* Existing styles below */
  